.mid-cnt {

   display: flex;
   flex-direction: column;
   align-items: flex-end;
   justify-content: center;
   margin-top: .5rem;
   
      @include respond(laptop) {
         align-items: flex-start;
      }

      @include respond(large-phone) {
         align-items: center;
         width: 100%;
         padding: 0 .5rem;
      
      }

      @include respond(phone) {
         padding: 0 1.5rem;
      }

   &__rating {

      background-color: $light-magenta;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row;
      border-radius: 8px;
      padding: 1.8rem 0;

      &:not(:last-child){   
         margin-bottom: 1.6rem;

         @include respond(large-phone) {
            margin-bottom: 1.6rem;
         }
      }

         @include respond(laptop) {
            width: 100%;
         }

         @include respond(large-phone) {
            flex-direction: column;
            padding: 1.56rem 0;
         
         }

      &-stars {
         padding-left: 2.4rem;
         padding-right: 3.24rem;
         display: flex;


            @include respond(large-phone) {
               margin-bottom: 1.4rem;
               
            }

            @include respond(phone) {
               margin-bottom: 1rem;
               
            }
    
         img {
            padding-left: .8rem;

         }
      }
   }

   &__vote {
      display: flex;
      font-family: 'League Spartan';
      font-style: normal;
      color: $dark-magenta;
      font-weight: 700;
      font-size: 1.6rem;
      line-height: 125%;    
      letter-spacing: 0.03em;

   }
}

.reviews {
   margin-top: .2rem;
   padding-right: 7.6rem;
   margin-right: 9.9rem;

      @include respond(large-phone) {
         padding-right: 0;
         margin-right: 0rem;

      }
}

.report_guru {
   padding-right: 4.8rem;
   margin-right: 4.8rem;

      @include respond(large-phone) {

         padding-right: 0;
         margin-right: 0rem;
         }
}

.best_tech {
   padding-right: 7.6rem;

      @include respond(large-phone) {

         padding-right: 0;
         }
}