.left {

   width: 50%;


   @include respond(large-phone) {
      width: auto;
      height: 241px;
      
   }

   @include respond(phone) {

      
   }


   &_img {
      background-image: url(../images/image-product-desktop.jpg);
      background-repeat: no-repeat; 
      background-position: center;  
      background-size: cover;
      height: 100%;
      

      @include respond(large-phone) {
         background-image: url(../images/image-product-mobile.jpg);
         background-repeat: no-repeat; 
         background-position: top;  
         background-size: cover;
         

      }

   }

   

}

