*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;

}

body {

    font-family: $font-BJ;
    max-height: 100vh;

}

h1,
h2,
h3,
h4,
h5,
h6 {

    font-family: $font-BJ  !important;
    font-weight: 600;
    line-height: 0;
    color: $Dark_Grayish_Blue;
}

p {
    font-weight: 400;
    line-height: 0;
    color: $Grayish_Blue;
}

.btn {
    border-radius: 50px;
    
    font-size: 18px;
    font-weight: 600;
    line-height: 149%;
    letter-spacing: 0.03em;
    font-family: $font-BJ;
    border: none;
    color: white;
}


a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
 }

