.header {
   margin-top: 3px;
   margin-left: 1px;
   margin-right: 1px;
   background-image: url(../images/bg-header-desktop.png);
   background-repeat: no-repeat;
   background-position: top;
   background-size: contain;

   @include respond(phone-big) {
      background-image: url(../images/bg-header-mobile.png);
   background-repeat: no-repeat;
   background-position: top;
   background-size: contain;
   }

   &_container {
      max-width: 1280px;
      margin-right: auto;
      margin-left: auto;
      padding-left: 32px;
      padding-right: 32px;


      @include respond (phone) {
         padding-left: 28px;
         padding-right: 28px;
      }
      
   }

   &_row {
      display: flex;
      justify-content: center;
      align-items: center;
   }

   &_col {
      text-align: center;

      &-logo {
         margin-top: 128px;
         width: 125px;
         height: 125px;
         margin-bottom: 61px;
         
         @include respond (tablet) {
            margin-top: 120px;

         }

      }

      &-h1 {
         font-size: 46px;
         line-height: 40px;
         letter-spacing: -0.015em;
         margin-bottom: 26px;

         @include respond (tablet) {
            font-size: 37px;
            margin-bottom: 16px;
         }

         @include respond (phone-big) {
            font-size: 32px;

         }

      }

      &-p {
         font-size: 20px;
         text-align: center;
         width: 710px;
         margin-left: auto;
         margin-right: auto;
         letter-spacing: 0.015em;
         margin-bottom: 50px;
         line-height: 29px;

         @include respond (tablet) {
            font-size: 18px;
            width: 100%;
            line-height: 160%;
            margin-bottom: 47px;
         }

         @include respond (phone) {
            font-size: 16px;
            //width: 93%;
            line-height: 26.24px;
         }
      }

      &-download {
         display: flex;
         justify-content: center;
         align-items: center;

         @include respond(phone-big) {
            flex-direction: column;
            padding-left: 2px;
            padding-right: 2px;
         }

      }
   }
}