.ios {
   background-color: $Strong_Cyan;
            margin-right: 16px;
            padding: 16px 34px 11px;
            border-bottom: 3px solid #1C9F89;
            -webkit-box-shadow: 0px 10px 30px 0px rgba(35, 189, 165, 0.35);
            -moz-box-shadow: 0px 10px 30px 0px rgba(35, 189, 165, 0.35);
            box-shadow: 0px 10px 30px 0px rgba(35, 189, 165, 0.35);

            @include respond(phone-big) {
               padding: 16px 34px 10px;
               margin-right: 0px;
               margin-bottom: 25px;
               width: 100%;
            }
}

.mac {
   background-color: $Light_Blue;
            padding: 16px 33px 11px;
            border-bottom: 3px solid #5063DE;
            -webkit-box-shadow: 0px 10px 30px 0px rgba(99, 117, 254, 0.2);
            -moz-box-shadow: 0px 10px 30px 0px rgba(99, 117, 254, 0.2);
            box-shadow: 0px 10px 30px 0px rgba(99, 117, 254, 0.2);

            @include respond(phone-big) {
               padding: 16px 33px 10px;
               width: 100%;
            }
}

