:root {
  --color-primary-100: hsl(223, 87%, 63%);
  --color-secondary-100: hsl(223, 100%, 88%);
  --color-secondary-200: hsl(354, 100%, 66%);
  --color-neutral-100: hsl(0, 0%, 59%);
  --color-neutral-200: hsl(209, 33%, 12%);
  --ff-primary: 'Libre Franklin', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: var(--ff-primary);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
  line-height: 0;
}

a {
  text-decoration: none;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media only screen and (max-width: 750px) {
  .logo {
    width: 107px;
    height: 30px;
  }
}

@media only screen and (max-width: 555px) {
  .logo {
    width: 86px;
    height: 24px;
  }
}

.primary-heading {
  font-weight: 400;
  font-size: 48px;
  color: var(--color-neutral-100);
  margin-bottom: 7px;
}

@media only screen and (max-width: 750px) {
  .primary-heading {
    text-align: center;
    font-size: 44px;
    margin-bottom: 27px;
  }
}

@media only screen and (max-width: 555px) {
  .primary-heading {
    font-size: 29px;
  }
}

@media only screen and (max-width: 375px) {
  .primary-heading {
    font-size: 24px;
    margin-bottom: 18px;
  }
}

.primary-heading__span {
  font-weight: 700;
  color: var(--color-neutral-200);
}

.primary-body {
  font-weight: 400;
  font-size: 20px;
  color: var(--color-neutral-200);
  text-align: center;
  margin-bottom: 37px;
}

@media only screen and (max-width: 750px) {
  .primary-body {
    font-size: 24px;
    margin-bottom: 60px;
  }
}

@media only screen and (max-width: 555px) {
  .primary-body {
    font-size: 20px;
  }
}

@media only screen and (max-width: 375px) {
  .primary-body {
    font-size: 16px;
    margin-bottom: 40px;
  }
}

.email {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: var(--color-neutral-100);
  padding: 18px 30px 17px;
  background: #FFFFFF;
  border: 1px solid #CED6E3;
  border-radius: 145px;
  margin-bottom: 7px;
}

@media only screen and (max-width: 750px) {
  .email {
    font-size: 24px;
    padding: 24px 65px 24px;
    margin-bottom: 12px;
  }
}

@media only screen and (max-width: 555px) {
  .email {
    font-size: 16px;
    padding: 18px 30px 17px;
  }
}

@media only screen and (max-width: 555px) {
  .email {
    font-size: 14px;
    padding: 18px 24px 17px;
  }
}

.email:focus {
  outline: 1px solid var(--color-primary-100);
}

.email.wrong {
  outline: 1px solid var(--color-secondary-200);
}

.error-message {
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  color: var(--color-secondary-200);
  opacity: .6;
  padding-left: 30px;
}

@media only screen and (max-width: 750px) {
  .error-message {
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    padding-left: 0;
  }
}

@media only screen and (max-width: 555px) {
  .error-message {
    font-size: 12px;
  }
}

@media only screen and (max-width: 375px) {
  .error-message {
    font-size: 10px;
  }
}

.btn {
  cursor: pointer;
  border-radius: 100vmax;
  border: none;
  font-weight: 600;
  line-height: 19px;
  color: #fff;
  background-color: var(--color-primary-100);
}

@media only screen and (max-width: 750px) {
  .btn {
    width: 100%;
    text-align: center;
  }
}

.btn:hover {
  opacity: .8;
}

.copy-right {
  opacity: .6;
  font-weight: 400;
  font-size: 12px;
  color: var(--color-neutral-100);
}

@media only screen and (max-width: 750px) {
  .copy-right {
    font-size: 20px;
  }
}

@media only screen and (max-width: 555px) {
  .copy-right {
    font-size: 12px;
  }
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 704px;
  padding-inline: 32px;
  padding-top: 86px;
  margin-bottom: 72px;
}

@media only screen and (max-width: 750px) {
  .container {
    padding-top: 170px;
    margin-bottom: 239px;
  }
}

@media only screen and (max-width: 555px) {
  .container {
    width: 100%;
    padding-top: 86px;
    margin-bottom: 72px;
  }
}

@media only screen and (max-width: 375px) {
  .container {
    padding-top: 64px;
    margin-bottom: 48px;
  }
}

.ping-logo {
  margin-bottom: 41px;
}

@media only screen and (max-width: 750px) {
  .ping-logo {
    margin-bottom: 73px;
  }
}

@media only screen and (max-width: 555px) {
  .ping-logo {
    margin-bottom: 41px;
  }
}

@media only screen and (max-width: 375px) {
  .ping-logo {
    margin-bottom: 36px;
  }
}

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 16px;
  margin-bottom: 61px;
}

@media only screen and (max-width: 750px) {
  .wrapper {
    flex-direction: column;
    gap: 45px;
    margin-bottom: 73px;
    padding-left: 38px;
    padding-right: 38px;
  }
}

@media only screen and (max-width: 555px) {
  .wrapper {
    padding-left: 18px;
    padding-right: 18px;
    gap: 16px;
    margin-bottom: 61px;
  }
}

@media only screen and (max-width: 375px) {
  .wrapper {
    padding-left: 8px;
    padding-right: 8px;
    gap: 12px;
    margin-bottom: 48px;
  }
}

.form {
  display: flex;
  flex-direction: column;
  flex: 1;
}

@media only screen and (max-width: 750px) {
  .form {
    width: 100%;
  }
}

.notify {
  padding: 18px 64px 19px;
}

@media only screen and (max-width: 750px) {
  .notify {
    font-size: 24px;
    padding: 30px 30px 31px;
  }
}

@media only screen and (max-width: 555px) {
  .notify {
    font-size: 16px;
    padding: 18px 64px 19px;
  }
}

@media only screen and (max-width: 375px) {
  .notify {
    font-size: 14px;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 47px;
}

@media only screen and (max-width: 750px) {
  .footer {
    padding-bottom: 73px;
  }
}

@media only screen and (max-width: 555px) {
  .footer {
    padding-bottom: 47px;
  }
}

.social-icons {
  cursor: pointer;
  color: var(--color-primary-100);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  margin-bottom: 24px;
}

@media only screen and (max-width: 750px) {
  .social-icons {
    gap: 26px;
    margin-bottom: 53px;
  }
}

.fab {
  width: 31px;
  height: 31px;
  padding: 6px;
  text-align: center;
  border-radius: 100vmax;
  color: var(--color-primary-100);
  border: 1px solid var(--color-secondary-100);
}

@media only screen and (max-width: 750px) {
  .fab {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 61px;
    height: 61px;
    font-size: 25px;
  }
}

@media only screen and (max-width: 555px) {
  .fab {
    width: 31px;
    height: 31px;
    font-size: 14px;
  }
}

.fab:hover {
  background-color: var(--color-primary-100);
  color: white;
}

.error {
  opacity: 0;
}

.hidden {
  display: none;
}

.secondary-heading {
  font-weight: 400;
  font-size: 48px;
  color: var(--color-neutral-100);
  margin-bottom: 7px;
}

.secondary-heading__span {
  font-weight: 700;
  color: var(--color-neutral-200);
}

@media only screen and (max-width: 750px) {
  .secondary-heading {
    font-size: 34px;
  }
}

@media only screen and (max-width: 375px) {
  .secondary-heading {
    font-size: 28px;
  }
}

.close-modal {
  padding: 18px 64px 19px;
  width: 100%;
}

@media only screen and (max-width: 750px) {
  .close-modal {
    font-size: 16px;
  }
}

@media only screen and (max-width: 375px) {
  .close-modal {
    font-size: 12px;
    padding: 12px 48px 12px;
  }
}

.secondary-body {
  font-weight: 400;
  font-size: 20px;
  color: var(--color-neutral-200);
  text-align: center;
  margin-bottom: 37px;
}

@media only screen and (max-width: 750px) {
  .secondary-body {
    font-size: 16px;
  }
}

@media only screen and (max-width: 375px) {
  .secondary-body {
    font-size: 14px;
  }
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: white;
  padding: 3rem;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
}

@media only screen and (max-width: 750px) {
  .modal {
    padding: 2rem;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}
