.phone__header {
   padding: 1.75rem 1rem 0.625rem 0.8125rem;
   background: linear-gradient(to left, $Light-Magenta 0%, $Light-Violet 100%);
   border-radius: 18px 18px 5px 5px;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 0.375rem;


   &-arrow {
      color: $Pale-Violet;
      font-size: 0.6875rem;
      text-decoration: none;
      font-weight: 900;
   }

   &-profile {

      display: flex;
      align-items: center;

      &--img {

         width: 1.5rem;
         height: 1.5rem;
         border-radius: 50px;
         border: 2px solid $Pale-Violet;
         margin-right: 0.125rem;
      }

   }

   &-username {


      flex: 1;

      &--h2 {
         color: $Light-Moderate-Violet;
         font-size: 0.6875rem;
         font-weight: 700;

      }

      &--status {

         font-size: 0.5rem;
         font-weight: 400;
         color: $Pale-Violet;
      }
   }



   &-dots {
      color: $Pale-Violet;
      font-size: 0.5rem;
      text-decoration: none;
      font-weight: 900;

   }

}