// FONT

$ff-primary: 'Rubik', sans-serif;

$fw-r: 400;
$fw-m: 500;
$fw-b: 700;

$fs-xs: 0.5rem;      //8px
$fs-s: 0.5625;       //9px
$fs-m: 0.6875;      //11px
$fs-l: 0.8125rem;      //13px
$fs-xl: 1rem;     //16px
$fs-xll: 2.5rem;    //40px



//  COLOR TEXT

$Pale-Violet : hsl(276, 100%, 81%); 
// (sub-heading at the top of the app UI)
$Moderate-Violet : hsl(276, 55%, 52%); 
// (chat on the left)
$Desaturated-Dark-Violet : hsl(271, 15%, 43%);
 // (chat on the right)
$Grayish-Blue : hsl(206, 6%, 79%); 
// (placeholder text)
$Very-Dark-Desaturated-Violet : hsl(271, 36%, 24%); 
// (main heading)
$Dark-Grayish-Violet : hsl(270, 7%, 64%); 
// (paragraph)
$Light-Moderate-Violet: hsl(276, 55%, 96%);
// (background down)

// COLOR GRADIENT

$Light-Magenta: hsl(293, 100%, 63%);
$Light-Violet: hsl(264, 100%, 61%);

//background-image: linear-gradient(180deg, var(--color-light-magenta), var(--color-light-violet));

//background: linear-gradient(90deg, $gradient-100 0%, $gradient-200 100%);


// COLOR SECONDARY

$White: hsl(0, 0%, 100%);

$Light-Grayish-Violet : hsl(270, 20%, 96%);
//(app background)
$Very-Dark-Desaturated-Violet : hsl(271, 36%, 24%);
//(submit button background)
$Very-Light-Magenta : hsl(289, 100%, 72%);
//(radio button outline)


