.price {
   background-color: $color-primary;
   padding: 5em;

   @media only screen and (max-width: $bp-desktop){
      padding: 4rem;
   }

   @media only screen and (max-width: $bp-mobile){
      padding: 2.5rem;

   }

   
   &__text {
      font-size: 2.1rem;
      font-weight: 400;
      color: rgba($color-neutral-light, 0.7);

      @media only screen and (max-width: $bp-desktop){
         font-size: 1.75rem;
      }

      @media only screen and (max-width: $bp-mobile){
         font-size: 1.4rem;

         
      }

      &--span {
         color: white;
         margin-right: .3em;
         font-size: 4rem;
         vertical-align: middle;
         font-weight: 800;

         @media only screen and (max-width: $bp-desktop){
            font-size: 3rem;
                    
         }

      }
   }

}
