.why {
   background-color: rgba($color-primary, .8);
   padding: 5em;

   @media only screen and (max-width: $bp-desktop){
      padding: 4em;
   }

   @media only screen and (max-width: $bp-mobile){
      padding: 2.5em;
   }
   
   &__ul {
      color: $color-neutral-light;
      font-size: 2rem;
      line-height: 1.42;

      @media only screen and (max-width: $bp-desktop){
         font-size: 1.5rem;
         line-height: 1.34;
      }

      @media only screen and (max-width: $bp-mobile){
         font-size: 1.3rem;
         line-height: 1.5;
      }
   

   }

   &__li {
      list-style: none;
   }
}