.container {
   min-height: 100vh;
   width: 100%;

   display: grid;
   grid-template-columns: 10vh 1fr 40vh;
   grid-template-rows: 10vh 1fr 5vh;

   @media screen and (max-width: 1222px) {
      grid-template-columns: 7vh 1fr 35vh;
    }



    @media screen and (max-width: 667px) {
      grid-template-columns: 7vh 1fr 30vh;
    }

    @media screen and (max-width: 558px) {
      grid-template-columns: 7vh 1fr 25vh;
    }

    @media screen and (max-width: 490px) {
      grid-template-columns: 7vh 1fr calc(20vh / 2);
    }


}