.content {
   grid-column: 2 / 2;
   grid-row: 2 / 3;

   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;

   &__btn, &__p, &__p1 {
      text-align: center;
   }

   &__heading {
      font-size: 6rem;
      font-weight: 800;
      color: $color-primary;

   }

   &__ul {
      font-size: 2.5rem;

      &--li {

      }
   }

   &__name, &__email {
      border: 2px solid $color-primary;
      min-width: 40rem;

      padding: 1.5em;
      border-radius: 10px;

      @media screen and (max-width: 736px) and (max-height: 414px) {
         padding: .5em;
       }
       @media screen and (max-width: 667px) and (max-height: 375px) {
         padding: .3em;
       }


      @media screen and (max-width: 623px) {
         padding: 1em;
       }

       @media screen and (max-width: 514px) {
         padding: .8em;
         border: 1px solid $color-primary;
       }
       @media screen and (max-width: 348px) {
         font-size: 3rem;
       }

      
      

   }

   &__btn {
      background-color: $color-primary;
      color: #fff;
      padding: 1.5em;
      min-width: 40rem;
      border-radius: 10px;
      border: none;
      font-weight: 700;

      @media screen and (max-width: 736px) and (max-height: 414px) {
         padding: .5em;
       }

       @media screen and (max-width: 667px) and (max-height: 375px) {
         padding: .4em;
       }

      @media screen and (max-width: 623px) {
         padding: 1em;
       }

       @media screen and (max-width: 514px) {
         padding: .8em;
       }

       @media screen and (max-width: 317px) {
         padding: .5em;
       }


   }
   &__p1 {

      font-size: 1.5rem;
   }

   &__p2 {
      font-size: 1.2rem;
   }
   
}

