.rec-down {
   grid-row: 3 / 4;
   display: grid;

   &__box { 
      align-self: end;
      justify-self: end;
      width: 25%;
      height: 75%;
      background-color: $color-primary;

      @media screen and (max-width: 375px) {
         height: 50%;
      }

      @media screen and (max-width: 375px) {
         height: 40%;
 
      }

      @media screen and (max-width: 320px) {
         display: none;
      }


   }
}