%heading {
   font-family: $font-primary;
}

.heading-2 {
   @extend %heading;

}

.heading-3 {
   @extend %heading;
}

.heading-4 {
   @extend %heading;
}

.btn-2 {
   width: 100%;
   background-color: $color-primary;
   color: white;
   padding: 1.5rem 13.3rem;
   border-radius: 15px;
   font-size: 2em;
   font-weight: 600;
   border: none;
  
   

   @include respond(tab-land) {
   padding: 1.5rem 13rem;
   }

   @include respond(tab-port) {
      padding: 1.5rem 10.5rem;
    }

   @media screen and (max-width: $bp-tablet) {
      padding: 1.5rem 8.5rem;
      font-size: 1.5em;
      border-radius: 10px;
   }
   
   @include respond(big-phone) {
      padding: 1.5rem 9.2rem;
      
    }

   @include respond(phone) {
      padding: 1.5rem 7rem;
      font-size: 1.1em;
      border-radius: 10px;
    }

    @include respond(small-phone) {
      padding: 1.5rem 5.4rem;
    }

    @include respond(xtrasmall-phone) {
      padding: 1rem;
      
    }
}

.mb-sm { margin-bottom: 1rem; } 
.mb-md { margin-bottom: 1.5rem; } 
.mb-lg { margin-bottom: 2.5rem; } 
.mb-hg { margin-bottom: 3.5rem; } 
