.container {
   max-width: 1110px;
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   min-height: 100vh;

   display: flex;
   align-items: center;
   justify-content: center;

   @include respond(tablet) {
      flex-direction: column;

   }
}

.card__left {
   margin-top: 6px;
   padding-right: 16px;

   @include respond(tablet) {
      margin-top: 0px;
      padding-top: 92px;
      padding-right: 0px;
   }
}

.card__right {
   flex: 0 0 48.7%;

   @include respond(tablet) {
      width: 100%;
      padding-bottom: 68px;
   }
}

.card {
   display: flex;
   justify-content: center;
   border-radius: 10px;
   padding-top: 20px;
   padding-bottom: 16px;
   padding-inline: 16px;

   -webkit-box-shadow: 0px 8px 3px 0px rgba(0, 0, 0, 0.2);
   -moz-box-shadow: 0px 8px 3px 0px rgba(0, 0, 0, 0.2);
   box-shadow: 0px 8px 3px 0px rgba(0, 0, 0, 0.2);
   border-radius: 10px;
   background-color: var(--clr-accent-100);
   color: white;

   margin-bottom: 24px;

   @include respond(big-phone) {
      padding-top: 22px;
      padding-bottom: 18px;
      padding-inline: 47px;
   }

}

.form {
   position: relative;
   display: flex;
   flex-direction: column;
   padding: 40px;
   background-color: white;
   border-radius: 10px;

   -webkit-box-shadow: 0px 8px 3px 0px rgba(0, 0, 0, 0.2);
   -moz-box-shadow: 0px 8px 3px 0px rgba(0, 0, 0, 0.2);
   box-shadow: 0px 8px 3px 0px rgba(0, 0, 0, 0.2);

   @include respond(big-phone) {
      padding: 23px;
   }
}

.form-control {
   margin-bottom: 20px;
   position: relative;

   @include respond(big-phone) {
      margin-bottom: 16px;
   }

   input {
      width: 100%;
      padding-top: 17px;
      padding-bottom: 14px;
      padding-left: 32px;
      padding-right: 64px;
      border-radius: 6px;

      border: 1px solid var(--clr-neutral-200);
      font-weight: 600;
      font-size: 14px;
      line-height: 160%;
      /* or 22px */
      outline: none;
      letter-spacing: 0.015em;

      &:focus {
         border: 1px solid var(--clr-neutral-100);
      }

      @include respond(big-phone) {
         border: 1px solid var(--clr-neutral-200);
         padding-bottom: 15px;
         padding-top: 17px;
         padding-left: 19px;
         padding-right: 54px;
      }
   }


   small {
      font-weight: 400;
      font-size: 11px;
      line-height: 160%;
      font-style: italic;
      letter-spacing: -0.005em;
      color: var(--clr-primary-100);
      position: absolute;
      bottom: -42%;
      right: 0%;
      visibility: hidden;
   }

   img {
      position: absolute;
      top: 30%;
      right: 5.8%;
      font-size: 1.4rem;
      display: none;

   }

   &.error {
      margin-bottom: 42px;
   }

   &.success img {
      display: none;
      color: var(--clr-primary-200);
   }

   &.error img {
      display: block;
      color: var(--clr-primary-100);
   }


   &.success input {
      border-color: var(--clr-primary-200);
   }


   &.error input {
      border-color: var(--clr-primary-100);
   }

   &.error small {
      visibility: visible;
   }

   &.success small {
      visibility: hidden;
   }
}


.btn {
   padding-top: 18px;
   padding-bottom: 11px;
   border-radius: 5px;
   background-color: var(--clr-primary-200);
   border: none;
   border-bottom: 4px solid rgba(0, 0, 0, 0.2);
   ;
   text-transform: uppercase;

   font-weight: 600;
   font-size: 16px;
   letter-spacing: 0.015em;
   color: white;
   margin-bottom: 14px;
   cursor: pointer;

   &:hover {
      opacity: var(--opacity);
   }

   @include respond(big-phone) {
      padding-bottom: 10px;
   }

}

.agreement {
   text-align: center;
   font-weight: 400;
   font-size: 11px;
   margin-bottom: 4px;
   color: var(--clr-neutral-200);
}

.agreement-span {
   font-weight: 600;
   letter-spacing: 0.01em;
   color: var(--clr-primary-100);
}