:root {

   --ff-primary: 'Poppins', sans-serif;

   --fw-400: 400;
   --fw-500: 500;
   --fw-600: 600;
   --fw-700: 700;

   --fs-100: 11px;
   --fs-200: 14px;
   --fs-300: 16px;
   --fs-400: 28px;
   --fs-500: 50px;

   --clr-primary-100: hsl(0, 100%, 74%);
   --clr-primary-200: hsl(154, 59%, 51%);

   --clr-accent-100: hsl(248, 32%, 49%);

   --clr-neutral-100: hsl(249, 10%, 26%);
   --clr-neutral-200: hsl(246, 25%, 77%);

   --opacity: .75;

}

