.header {
   padding-top: 4.9rem;
   padding-bottom: 6.4rem;
   background-color: $pale_cyan;
   margin-bottom: 15.9rem;

   background-image: url(../images/bg-hero-desktop.svg);
   background-repeat: no-repeat;
   background-position: bottom;
   background-size: 100vw;



   @include respond(tablet) {
      margin-bottom: 60px;
   }

   @include respond(phone-mid) {
      padding-top: 27px;
      padding-bottom: 30px;
   }




   &_container {

      //max-width: 1342px;
      max-width: 134.2rem;
      margin-left: auto;
      margin-right: auto;
      padding-left: 3rem;
      padding-right: 3rem;


      @include respond (phone-mid) {
         padding-left: 16px;
      padding-right: 16px;
      }

      @include respond (phone-small) {
         padding-left: 8px;
         padding-right: 8px;
         width: 100%;
      }

   }


   &_row {

      display: flex;
      justify-content: space-between;
      align-items: center;

      

      &-logo {

         width: 20rem;

         @include respond(phone-big) {

            //width: clamp(104px, 31.007vw, 200px);
            width: 152px;

         }

         @include respond(phone-mid) {
            width: 128px;
         }

         @include respond(phone) {
            width: 104px;
         }

      }

      &-cta {
         color: $dark_cyan;
         padding: 1.3rem 6.4rem;
         background-color: white;
         font-weight: 700;
         font-size: 1.4rem;
         box-shadow: 0 5px 5px rgba(0, 0, 0, 0.06);

         @include respond(phone-big) {
            //padding: 4px 22px;
            //font-size: 10px;

            padding: 8.5px 43px;
            font-size: 12px;
         }

         @include respond (phone-mid) {
            padding: 6.25px 32.5px;
         }

         @include respond (phone) {
            padding: 4px 22px;
            font-size: 10px
         }
      }

   }

   &_section {
      padding-top: 6.6rem;



      @include respond(phone-mid) {
         padding-top: 84px;
      }



      &_container {

         margin-left: auto;
         margin-right: auto;

      }

      &_row {

         display: flex;
         justify-content: space-between;

         @include respond(laptop) {
         flex-direction: column;

      }

         &_col1 {

            margin-top: 9.6rem;
            
            @include respond(laptop) {

               margin-top: 0px;
               text-align: center;
               display: flex;
               flex-direction: column;
               align-items: center;

            }

            @include respond(tablet) {

               text-align: center;
               display: flex;
               flex-direction: column;
               align-items: center;

            }

            &-h1 {

               font-weight: 600;     
               line-height: 60px;
               letter-spacing: -0.005em;
               margin-bottom: 2.9rem;
               width: 92%;
               font-size: 4rem;
               
               
               @include respond(laptop) {
                  font-size: 32px;
                  line-height: 48px;
                  width: 100%;
               }


               @include respond(phone-mid) {
                  font-size: 24px;
                  line-height: 36px;
                  margin-bottom: 20px;
                  
               }

               @include respond(phone) {
                  width: 90%;
               }

               

            }

            &-p {
               font-weight: 400;
               font-size: 1.8rem;
               line-height: 27px;
               margin-bottom: 5rem;
               width: 89%;
               
               
               @include respond(phone-mid) {
                  font-size: 16px;
                  line-height: 24px;
                  margin-bottom: 32px;
               }

            }

            &-cta {
               font-weight: 700;
               font-size: 1.4rem;
               line-height: 19px;
               padding: 1.8rem 7rem;
               background-color: $pink;
               color: $pale_cyan;

               @include respond(phone-mid) {
                  padding: 10.25px 60px;
                  font-size: 12px;
               }
             }
         }

         &_col2 {
            padding-right: .5rem;

            @include respond(tablet) {
               padding-right: 20px;
               padding-left: 20px
            }


            &-svg {

               width: 69.2rem;
               //width: 296px;
               //width: clamp(296px, 56.07779vw, 692px);

               width: clamp(29.6rem, 56.07779vw, 69.2rem);

               @include respond(laptop) {
                  width: 100%;
                  padding-top: 55px;
               }

               @include respond (phone-mid) {
                  padding-top: 53px;
               }

            }

         }

      }


   }


}
