.section3 {

   margin-bottom: 160px;

   @include respond(phone-mid) {
      margin-bottom: 120px;
   }
      
   &_container {

      //max-width: 1232px;
      //width: 92.355%;
      width: clamp(334px, 92.6316vw, 1232px);
      margin-left: auto; 
      margin-right: auto;
      padding-left: 30px;
      padding-right: 30px;
      box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.05);
      border-radius: 15px;

      @include respond(phone-mid) {
        width: 90%;
        padding-left: 22.5px;
         padding-right: 22.5px;
      }

   }

   &_row {
      display: flex;
      justify-content: space-between;
      align-items: center;

      @include respond(tablet) {
         flex-direction: column-reverse;
         text-align: center;
         justify-content: center;
         align-items: center;
      }
   }

   &_col1 {
      padding-left: 90px;
      padding-top: 155px;
      padding-bottom: 149px;

      @include respond(laptop) {
         padding-left: 45px;
      }

      @include respond(tablet) {
         padding-left: 0px;
         padding-top: 55px;
         padding-bottom: 33px;
      }

      @include respond(phone-mid) {
         padding-top: 53px;
      }

      &-h1 {
         font-weight: 600;
         font-size: 28px;
         line-height: 42px;
         margin-bottom: 12px;

         @include respond(phone-mid) {
            font-size: 20px;
            margin-bottom: 8px;
         }

      }

      &-p {
         font-weight: 400;
         font-size: 18px;
         line-height: 151.2%;
         width: 75%;

         @include respond(tablet) {
            width: 100%;
         }

         @include respond(phone-mid) {
            font-size: 14px;
            padding-left: 18px;
            padding-right: 18px;
            
         }
      }

   }

   &_col2 {


      &-svg {

         width: 419px;
         //1328px
         
         width: clamp(245px, 31.5512vw, 419px);

         @include respond(tablet) {
            width: 100%;
            padding-left: 25px;
            padding-right: 25px;
            padding-top: 62px;
         }
      }
   }
}