.btn {
   background-color: var(--clr-neutral-500);
	color: #fff;

   &:hover {
      background-color: var(--clr-neutral-500);
   }

   &:active {
      background-color: var(--clr-neutral-500);
	top: 3px;
   }


}

// RESULTS

.result {

   h1 {
      font-style: italic;
      font-weight: var(--fw-xb);
      font-size: var(--fs-600);
      line-height: 113px;

      @include respond(tablet) {
         font-size: 4.75rem;
         line-height: 87.5px;
      }

      @include respond(phone) {
         font-size: var(--fs-500);
         line-height: 62px;
      }

      @include respond (mini) {
         font-size: 2.5rem;
         line-height: 49.25px;
      }
   }

   span {
      color: var(--clr-primary-100);
      letter-spacing: 0.17em;

      @include respond(tablet) {
         letter-spacing: 0;
      }
   }
}