:root {

   --clr-primary-100: hsl(0, 36%, 70%);
   --clr-primary-200: hsl(0, 93%, 68%);
   --clr-neutral-100: hsl(0, 6%, 24%);

   --clr-bg-100: hsl(0, 0%, 100%);
   --clr-bg-200: hsl(0, 100%, 98%);
   --clr-bg-300: hsl(0, 80%, 86%);
   --clr-bg-400: hsl(0, 74%, 74%);

   --ff-primary: 'Josefin Sans', sans-serif;

   --fs-64: 64px;
   --fs-16: 16px;
   --fs-13: 13px;

   --fw-300: 300;
   --fw-400: 400;
   --fw-600: 600;
   
}