*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-family: "Montserrat", sans-serif;
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  background-color: #f2ebe3;
}

main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto 0;
}

.card {
  background-color: white;
  margin: 2rem;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  width: 600px;
}

@media only screen and (max-width: 500px) {
  .card {
    flex-direction: column;
    margin: 2.75rem 1.5rem;
  }
}

h1 {
  font-family: "Fraunces", serif;
  font-size: 3.2rem;
}

p {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 23px;
}

button {
  font-size: 1.4rem;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  background-color: #3c8067;
  color: white;
  border: none;
  height: 4.8rem;
}

.left {
  width: 50%;
}

@media only screen and (max-width: 500px) {
  .left {
    width: auto;
    height: 241px;
  }
}

.left_img {
  background-image: url(../images/image-product-desktop.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
}

@media only screen and (max-width: 500px) {
  .left_img {
    background-image: url(../images/image-product-mobile.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
  }
}

.right {
  width: 300px;
  display: flex;
  flex-direction: column;
  padding-left: 3.2rem;
  padding-right: 3.2rem;
  padding-top: 2.6rem;
  padding-bottom: 3.2rem;
}

@media only screen and (max-width: 500px) {
  .right {
    width: 100%;
  }
}

@media only screen and (max-width: 500px) {
  .right {
    padding-top: 2rem;
    padding-left: 2.6rem;
    padding-right: 2.6rem;
  }
}

.right_p {
  font-size: 1.25rem;
  text-transform: uppercase;
  letter-spacing: 0.37em;
  margin-bottom: 1.75rem;
}

@media only screen and (max-width: 500px) {
  .right_p {
    letter-spacing: 0.34em;
    margin-bottom: .9rem;
  }
}

.right_h1 {
  line-height: 32px;
  letter-spacing: -0.03em;
  margin-bottom: 2.24rem;
}

@media only screen and (max-width: 500px) {
  .right_h1 {
    margin-bottom: 1.5rem;
  }
}

.right_p1 {
  margin-bottom: 2.75rem;
  width: 100%;
}

@media only screen and (max-width: 500px) {
  .right_p1 {
    margin-bottom: 4.5rem;
  }
}

@media only screen and (max-width: 375px) {
  .right_p1 {
    font-size: 1.3rem;
  }
}

.right_price {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 2.625rem;
}

@media only screen and (max-width: 500px) {
  .right_price {
    margin-bottom: 1.5rem;
  }
}

.right_price-h1 {
  color: #3c8067;
  letter-spacing: -0.025em;
  margin-right: 2.2rem;
  letter-spacing: -0.02em;
}

@media only screen and (max-width: 500px) {
  .right_price-h1 {
    letter-spacing: -0.035em;
    margin-right: 2.5rem;
  }
}

.right_price-p {
  font-size: 1.25rem;
  letter-spacing: -0.02em;
  text-decoration: line-through;
}

@media only screen and (max-width: 500px) {
  .right_price-p {
    letter-spacing: 0em;
  }
}

.right_button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}

.right_button-img {
  margin-right: 1rem;
}
