.img-part {

   display: flex;
   position: relative;
   background-color: $accent;


   &-desktop {
      max-width: 454px;
      mix-blend-mode: multiply;

      @include respond(tablet){
      display: none;
      }
   }

   &-mobile {
      display: none;

      @include respond(tablet){
         mix-blend-mode: multiply;
         display: block;
         width: 100%;
         }
   }

   .pink {
      
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0.25;
      background-color: $accent;
   }
}