.btm-cnt {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   column-gap: 1.8rem;

   @include respond(tablet) {
      grid-template-columns: 1fr;
      row-gap: 1rem;
      max-width: 34rem;
      margin: 0 auto;
   }

   @include respond(phone) {
      padding: 0 .5rem;
   }

}

.comment-box {
   background-color: $dark-magenta;
   border-radius: 0.5rem;
   padding-top: 2.5rem;
   padding-left: 2.1rem;
   padding-right: 2rem;
   padding-bottom: 2.35rem;
   max-height: 14.64rem;

   @include respond(laptop) {
      max-height: 19rem;
   }

   @include respond(phone) {
      max-height: 15.61rem;
      padding-right: 1.8rem;
      padding-left: 1.95rem;
   }
}

.profile {
      display: flex;
      flex-direction: row;

   &__img {
      border-radius: 50px;
      overflow: hidden;
      display: flex;

      &-1 {
         width: 2.5rem;
        
      }
   }

   &__info {
      padding-left: 1.5rem;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;

      &-name {

         color: $white;
         font-size: .84rem;
         font-weight: 700;
         letter-spacing: .3px;

      }

      &-verify {
         margin-top: .2rem;
         color: $soft-pink;
         font-size: 0.8125rem;
         font-weight: 500;
      }
   }

   &__comment {
      
      padding-top: 1.7rem;
      color: $light-magenta;
      font-size: 0.838rem;
      line-height: 1.4rem;
      font-weight: 500;
      letter-spacing: -0.1px;

      @include respond(phone) {
         padding-top: 1.7rem;
   
      }
   }
}

.irene {
   margin-top: 1rem;

   @include respond(laptop) {
      margin-top: 0rem;

   }
}

.anne {
   margin-top: 2rem;

   @include respond(laptop) {
      margin-top: 0rem;

   }
}