*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;

}

body {

   min-height: 100vh;
   font-size: 62.5%;
   font-family: $spartan;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background-image: url(../images/bg-pattern-top-desktop.svg), 
   url(../images/bg-pattern-bottom-desktop.svg);

   background-repeat: no-repeat, no-repeat;

   background-position: top left, bottom right;

   @include respond(large-phone) {
       background-image: url(../images/bg-pattern-top-mobile.svg), 
       url(../images/bg-pattern-bottom-mobile.svg);
       background-repeat: no-repeat, no-repeat;
       background-position: top left, bottom right;
   }
}

.container {
  
   max-width: 73.6rem;
   margin-top: 2rem;
   padding: 0 2rem;

    @include respond(laptop) {
    margin-top: 0rem;
    }

    @include respond(tablet) {

        padding: 5.16rem 1.5rem;
    }

    @include respond(phone) {

        padding: 5.1rem 1rem;
    }
}