*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    
}

body {

   min-height: 100vh;
   display: flex;
   font-size: 62.5%;
   font-family: $spartan;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background-image: url(../images/bg-pattern-top-desktop.svg), url(../images/bg-pattern-bottom-desktop.svg);

   background-repeat: no-repeat, no-repeat;

   background-position: top left, bottom right;

   @include respond(tablet){

      background-image: url(../images/bg-pattern-top-mobile.svg), url(../images/bg-pattern-bottom-mobile.svg);

   background-repeat: no-repeat, no-repeat;

   background-position: top left, bottom right;
   }
}

.container {
  
    padding: 13.2em 2.4em;
    max-width: 72.75rem;
    margin: 0 2.5%;

    

    @include respond(laptop){
        
        padding: 6.4em 2.4em;
     }

     @include respond(tablet){
        
        padding: 8em 2.4em;
     }

     @include respond(large-phone){
        
        padding: 8em 1.42em;
     }



}