.mid-cnt {

   display: flex;
   flex-direction: column;

   align-items: flex-end;
   justify-content: center;


   @include respond(laptop) {
      align-items: flex-start;
   }

   @include respond(large-phone) {
      align-items: center;
      width: 100%;
      padding: 0 .5rem;
   
   }


   &__rating {

      background-color: $light-magenta;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row;
      border-radius: 8px;
      padding: 1.2rem 0;

      
      &:not(:last-child){   
         margin-bottom: 1.2rem;

         @include respond(large-phone) {
            margin-bottom: 1rem;
         }
      }

      @include respond(laptop) {
         width: 100%;
      }

      @include respond(large-phone) {
         flex-direction: column;
         padding: 1rem 0;
      
      }

      @include respond(phone) {
         
      }

      &-stars {
         padding-left: 1.6rem;
         padding-right: 2rem;
         display: flex;

         @include respond(large-phone) {
            margin-bottom: 1rem;
            
         }

         
         img {
            padding-left: .48rem;

            @include respond(large-phone) {

            }
 
         }
      }
   }

   &__vote {

      font-size: 0.8125rem;
      font-weight: 700;
      color: $dark-magenta;
      letter-spacing: -.05px;

      @include respond(large-phone) {

         
      }
   }
}

.reviews {
   padding-right: 5.7rem;
   margin-right: 6rem;

   @include respond(large-phone) {
      padding-right: 0;
      margin-right: 0rem;
   }

}

.report_guru {
   padding-right: 3.67rem;
   margin-right: 3.05rem;

   @include respond(large-phone) {

      padding-right: 0;
      margin-right: 0rem;
      }
}

.best_tech {
   padding-right: 5.6rem;

   @include respond(large-phone) {

      padding-right: 0;
      }


}