.header {
   position: relative;
   background-color: #083643;

   min-height: 10rem;

   display: flex;
   align-items: center;

   

   &__logo {
      
      margin-left: 1.5em;
      width: 13rem;
   }

  
}