.footer {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;

   padding-bottom: 47px;

   @include respond(tablet) {
      padding-bottom: 73px;
   }

   @include respond(phone-big) {
      padding-bottom: 47px;
   }
}

.social-icons {

   cursor: pointer;
   color: var(--color-primary-100);
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 12px;

   margin-bottom: 24px;


   @include respond(tablet) {
      gap: 26px;
      margin-bottom: 53px;
      
   }
}

.fab {
   width: 31px;
   height: 31px;
   padding: 6px;
   text-align: center;
   border-radius: 100vmax;
   color: var(--color-primary-100);
   border: 1px solid var(--color-secondary-100);
   

   @include respond(tablet) {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 61px;
      height: 61px;
      font-size: 25px;     
      
   }

   @include respond(phone-big) {

      width: 31px;
      height: 31px;
      font-size: 14px;    
      
   }

   &:hover {
      background-color: var(--color-primary-100);
      color: white;
   }
}