:root {
   --color-primary-100: hsl(223, 87%, 63%);

   --color-secondary-100: hsl(223, 100%, 88%);
   --color-secondary-200: hsl(354, 100%, 66%);

   --color-neutral-100: hsl(0, 0%, 59%);
   --color-neutral-200: hsl(209, 33%, 12%);

   --ff-primary: 'Libre Franklin', sans-serif;

}