*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-size: 62.5%;
  font-family: "League Spartan", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../images/bg-pattern-top-desktop.svg), url(../images/bg-pattern-bottom-desktop.svg);
  background-repeat: no-repeat, no-repeat;
  background-position: top left, bottom right;
}

@media only screen and (max-width: 514px) {
  body {
    background-image: url(../images/bg-pattern-top-mobile.svg), url(../images/bg-pattern-bottom-mobile.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: top left, bottom right;
  }
}

.container {
  max-width: 73.6rem;
  margin-top: 2rem;
  padding: 0 2rem;
}

@media only screen and (max-width: 1060px) {
  .container {
    margin-top: 0rem;
  }
}

@media only screen and (max-width: 851px) {
  .container {
    padding: 5.16rem 1.5rem;
  }
}

@media only screen and (max-width: 375px) {
  .container {
    padding: 5.1rem 1rem;
  }
}

.top-cnt {
  display: flex;
  flex-direction: row;
  padding-bottom: 4.4rem;
  justify-content: space-between;
  align-items: center;
}

@media only screen and (max-width: 1060px) {
  .top-cnt {
    padding-bottom: 2.4rem;
  }
}

@media only screen and (max-width: 851px) {
  .top-cnt {
    flex-direction: column;
  }
}

@media only screen and (max-width: 375px) {
  .top-cnt {
    margin-bottom: .5rem;
  }
}

.top-cnt-info {
  text-align: start;
  display: flex;
  flex-direction: column;
  max-width: 27.0625rem;
  margin-right: 2em;
}

@media only screen and (max-width: 851px) {
  .top-cnt-info {
    max-width: 27.0625rem;
    text-align: center;
    margin-right: 0rem;
  }
}

.top-cnt-info__h1 {
  font-family: "League Spartan", sans-serif;
  color: #502050;
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: -1.6px;
  line-height: 2.972rem;
  margin-bottom: 0.9375rem;
}

@media only screen and (max-width: 851px) {
  .top-cnt-info__h1 {
    font-size: 2rem;
    line-height: 2rem;
  }
}

@media only screen and (max-width: 514px) {
  .top-cnt-info__h1 {
    letter-spacing: -.8px;
  }
}

@media only screen and (max-width: 375px) {
  .top-cnt-info__h1 {
    padding: 0 1rem;
    margin-bottom: 1.6rem;
  }
}

.top-cnt-info__p {
  color: #937b92;
  font-size: 0.875rem;
  line-height: 1.81;
  font-weight: 500;
  letter-spacing: .12px;
}

@media only screen and (max-width: 851px) {
  .top-cnt-info__p {
    margin-bottom: 2.5rem;
  }
}

@media only screen and (max-width: 514px) {
  .top-cnt-info__p {
    letter-spacing: .12px;
    padding: 0 .4rem;
    margin-bottom: 2.3rem;
  }
}

.mid-cnt {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

@media only screen and (max-width: 1060px) {
  .mid-cnt {
    align-items: flex-start;
  }
}

@media only screen and (max-width: 514px) {
  .mid-cnt {
    align-items: center;
    width: 100%;
    padding: 0 .5rem;
  }
}

.mid-cnt__rating {
  background-color: #f7f2f7;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  border-radius: 8px;
  padding: 1.2rem 0;
}

.mid-cnt__rating:not(:last-child) {
  margin-bottom: 1.2rem;
}

@media only screen and (max-width: 514px) {
  .mid-cnt__rating:not(:last-child) {
    margin-bottom: 1rem;
  }
}

@media only screen and (max-width: 1060px) {
  .mid-cnt__rating {
    width: 100%;
  }
}

@media only screen and (max-width: 514px) {
  .mid-cnt__rating {
    flex-direction: column;
    padding: 1rem 0;
  }
}

.mid-cnt__rating-stars {
  padding-left: 1.6rem;
  padding-right: 2rem;
  display: flex;
}

@media only screen and (max-width: 514px) {
  .mid-cnt__rating-stars {
    margin-bottom: 1rem;
  }
}

.mid-cnt__rating-stars img {
  padding-left: .48rem;
}

.mid-cnt__vote {
  font-size: 0.8125rem;
  font-weight: 700;
  color: #502050;
  letter-spacing: -.05px;
}

.reviews {
  padding-right: 5.7rem;
  margin-right: 6rem;
}

@media only screen and (max-width: 514px) {
  .reviews {
    padding-right: 0;
    margin-right: 0rem;
  }
}

.report_guru {
  padding-right: 3.67rem;
  margin-right: 3.05rem;
}

@media only screen and (max-width: 514px) {
  .report_guru {
    padding-right: 0;
    margin-right: 0rem;
  }
}

.best_tech {
  padding-right: 5.6rem;
}

@media only screen and (max-width: 514px) {
  .best_tech {
    padding-right: 0;
  }
}

.btm-cnt {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 1.8rem;
}

@media only screen and (max-width: 851px) {
  .btm-cnt {
    grid-template-columns: 1fr;
    row-gap: 1rem;
    max-width: 34rem;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 375px) {
  .btm-cnt {
    padding: 0 .5rem;
  }
}

.comment-box {
  background-color: #502050;
  border-radius: 0.5rem;
  padding-top: 2.5rem;
  padding-left: 2.1rem;
  padding-right: 2rem;
  padding-bottom: 2.35rem;
  max-height: 14.64rem;
}

@media only screen and (max-width: 1060px) {
  .comment-box {
    max-height: 19rem;
  }
}

@media only screen and (max-width: 375px) {
  .comment-box {
    max-height: 15.61rem;
    padding-right: 1.8rem;
    padding-left: 1.95rem;
  }
}

.profile {
  display: flex;
  flex-direction: row;
}

.profile__img {
  border-radius: 50px;
  overflow: hidden;
  display: flex;
}

.profile__img-1 {
  width: 2.5rem;
}

.profile__info {
  padding-left: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.profile__info-name {
  color: white;
  font-size: .84rem;
  font-weight: 700;
  letter-spacing: .3px;
}

.profile__info-verify {
  margin-top: .2rem;
  color: #ee68a4;
  font-size: 0.8125rem;
  font-weight: 500;
}

.profile__comment {
  padding-top: 1.7rem;
  color: #f7f2f7;
  font-size: 0.838rem;
  line-height: 1.4rem;
  font-weight: 500;
  letter-spacing: -0.1px;
}

@media only screen and (max-width: 375px) {
  .profile__comment {
    padding-top: 1.7rem;
  }
}

.irene {
  margin-top: 1rem;
}

@media only screen and (max-width: 1060px) {
  .irene {
    margin-top: 0rem;
  }
}

.anne {
  margin-top: 2rem;
}

@media only screen and (max-width: 1060px) {
  .anne {
    margin-top: 0rem;
  }
}
