:root {
  --clr-text-100: hsl(238, 29%, 16%);
  --clr-text-200: hsl(14, 88%, 65%);
  --clr-primary-body: #5B5A60;
  --clr-bg-100: hsl(273, 75%, 66%);
  --clr-bg-200: hsl(240, 73%, 65%);
  --clr-div-100: hsl(240, 73%, 65%);
  --ff-primary: 'Kumbh Sans', sans-serif;
  --fw-reg: 400;
  --fw-bold: 700;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: var(--ff-primary);
  padding: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
  line-height: 0;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
.f__center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.primary-heading {
  font-weight: var(--fw-bold);
  font-size: 32px;
  line-height: 40px;
  text-transform: uppercase;
  color: var(--clr-text-100);
  margin-bottom: 38px;
}

@media only screen and (max-width: 1000px) {
  .primary-heading {
    text-align: center;
    margin-bottom: 32px;
  }
}

.primary-body {
  font-weight: var(--fw-reg);
  font-size: 14px;
  line-height: 17px;
  color: var(--clr-primary-body);
}

.primary-body:hover {
  color: var(--clr-text-200);
}

.secondary-body {
  font-weight: var(--fw-reg);
  font-size: 12px;
  line-height: 17px;
  margin-bottom: 20px;
}

@media only screen and (max-width: 1000px) {
  .secondary-body {
    margin-bottom: 17px;
  }
}

.primary-bg {
  background: linear-gradient(270deg, var(--clr-bg-100), var(--clr-bg-200));
  background-size: 400% 400%;
  animation: bgGlow 6s ease infinite;
}

.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  position: absolute;
  z-index: 200;
  left: -50px;
  top: 40.2%;
  animation: bob 2s infinite;
}

@media only screen and (max-width: 1000px) {
  .box {
    width: 95px;
    left: 41px;
    top: 3.5%;
  }
}

.card {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  background-image: url("../images/bg-pattern-desktop.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: -532px -262px;
  width: 920px;
  border-radius: 20px;
  margin-left: 42px;
  overflow: hidden;
  box-shadow: 0px 30px 30px -20px rgba(0, 0, 0, 0.35);
  animation: bg-pos 2s infinite;
}

@media only screen and (max-width: 1000px) {
  .card {
    flex-direction: column;
    margin-left: 0;
    overflow: visible;
    background-image: url(../images/bg-pattern-mobile.svg);
    background-size: 73%;
    background-position: center 1px;
    animation: bg-pos2 2s infinite;
    margin-top: 62px;
    width: 327px;
  }
}

.card__woman {
  animation: fadeInUp 1s ease;
}

.card__woman--img {
  transform: translate(-17.6%, -1.2%);
  animation: box 2s infinite;
}

@media only screen and (max-width: 1000px) {
  .card__woman--img {
    position: absolute;
    left: 26.7%;
    top: -19.5%;
    width: 237px;
  }
}

.card__text {
  padding-top: 63px;
  display: flex;
  flex-direction: column;
  height: 509px;
  padding-inline: 5px 101px;
}

@media only screen and (max-width: 1000px) {
  .card__text {
    padding-inline: 0;
    padding-top: 130px;
    height: 535px;
  }
}

.accordion {
  width: 344px;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #E8E8E8;
  margin-bottom: 16px;
}

@media only screen and (max-width: 1000px) {
  .accordion {
    width: 279px;
    margin-bottom: 17px;
  }
}

.arrow {
  width: 10px;
  height: 6px;
  margin-right: 10px;
  transition: all .2s linear;
}

@media only screen and (max-width: 1000px) {
  .arrow {
    margin-right: 0;
  }
}

.acc {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.acc.active {
  margin-bottom: 10px;
}

.acc.active + .content {
  opacity: 1;
  height: auto;
  border-bottom: 2px solid var(--clr-text-200);
}

.acc.active .primary-body {
  font-weight: var(--fw-bold);
}

.acc.active .arrow {
  transform: rotate(180deg);
}

.content {
  transition: opacity .75s ease-in;
  opacity: 0;
  height: 0;
  overflow: hidden;
}

@keyframes bob {
  0% {
    filter: drop-shadow(0 15px 15px rgba(0, 0, 0, 0.3));
    transform: translate(0);
  }
  50% {
    filter: drop-shadow(0 10px 20px rgba(0, 0, 0, 0.1));
    transform: translateY(-1rem);
  }
  100% {
    filter: drop-shadow(0 15px 15px rgba(0, 0, 0, 0.3));
    transform: translate(0);
  }
}

@keyframes box {
  0% {
    transform: translate(-17.6%, -1.2%);
  }
  50% {
    transform: translate(-17.6%, calc(-1.2% + -1rem));
  }
  100% {
    transform: translate(-17.6%, -1.2%);
  }
}

@keyframes bg-pos {
  0% {
    background-position: -532px -262px;
  }
  50% {
    background-position: -532px calc(-262px + -1rem);
  }
  100% {
    background-position: -532px -262px;
  }
}

@keyframes bg-pos2 {
  0% {
    background-position: center 0;
  }
  50% {
    background-position: center -1rem;
  }
  100% {
    background-position: center 0;
  }
}

@keyframes fadeInUp {
  0% {
    transform: translateY(6rem);
    opacity: 0;
  }
  100% {
    transform: translate(0);
    opacity: 1;
  }
}

@keyframes bgGlow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
