.header {

   margin-top: 79px; //
   padding: 0 20px;
   margin-bottom: 227px;

   @include respond(tablet) {

      margin-top: clamp(24px, 6.2632vw, 79px);
      padding: 0 clamp(24px, 3.1579vw, 20px);
      margin-bottom: clamp(115px, 30.3158vw, 236px);

   }

   &_container {

      margin: 0 auto;
      max-width: 1280px;

   }

   &_row {

      display: flex;
      justify-content: space-between;
      align-items: center;

      &-logo {


         &-img {

            width: 240px;

            @include respond(tablet) {

               margin-top: 2px;
               width: clamp(96px, 25.5789vw, 240px);

            }
         }
      }

      &-cta {

         font-family: $font-opensans;
         font-size: 16px;
         border: 1px solid $pink;
         padding: 8px 28px;
         color: $pink;

         @include respond(tablet) {

            padding: 1.0526vw 3.6842vw;
            font-size: clamp(10px, 2.1053vw, 16px);

         }
      }
   }
}

.btn {

   text-decoration: none;
   border-radius: 50px;
   cursor: pointer;

}