.section3 {

   background-image: url(../images/bg-section-bottom-desktop-1.svg), url(../images/bg-section-top-desktop-2.svg);
   background-repeat: no-repeat, no-repeat;
   background-position: top, bottom;
   background-size: 100vw;

   padding-top: 335px;
   padding-bottom: 267px;

   @include respond(tablet) {
      background-image: url(../images/bg-section-bottom-mobile-1.svg), url(../images/bg-section-top-mobile-2.svg);
      background-repeat: no-repeat, no-repeat;
      background-position: top, bottom;
      background-size: 100vw;
      padding-top: 190px;
      padding-bottom: 223px;
   }
   


   &_container {
      max-width: 1260px;
      margin-left: auto;
      margin-right: auto;
      padding-left: 28px;
      padding-right: 28px;

   }

   &_row {

      flex-direction: row-reverse;
      display: flex;
      justify-content: space-between;
      align-items: center;

      padding-left: 16px;
      padding-right: 4px;

      @include respond(tablet) {

         flex-direction: column-reverse;
         padding-left: 0;
         padding-right: 0;
   
      }

      &-col1 {
         
         @include respond(tablet) {

            text-align: center;
         }

         &-h1 {
            font-size: 40px;
            font-size: clamp(20px, 2.7778vw, 40px);
            margin-bottom: 22px;

            @include respond(tablet) {
               margin-bottom: 14px;
               font-size: clamp(20px, 5.26316vw, 30px);
            }

         }

         &-p {
            font-size: 16px;
            line-height: 24px;
            //width: 518px;
            width: 100%;

            @include respond(tablet) {
               font-size: 14px;
               line-height: 150%;
               letter-spacing: -0.02em;
            }

         }    
      }

      &-col2 {

         @include respond(tablet) {
            margin-bottom: 86px;
         }

         &-img {
            max-width: 527px;
            min-width: 262px;
            width: 36.597vw; 
            //margin-right: 139px;
            margin-right: 9.6528vw;

            @include respond(tablet) {
               margin-right: 0;
            }
         }
      }
   }
}