.section4 {

   background-color: $pale_blue;
   padding-top: 43px;
   padding-bottom: 37px;

   @include respond(tablet) {
      padding-top: 16px;
      padding-bottom: 115px;
      
   }


   &_container {
            
      max-width: 1260px;
      margin-left: auto;
      margin-right: auto;
      padding-left: 28px;
      padding-right: 28px;

   }

   &_row {

      display: flex;
      justify-content: space-between;
      align-items: center;

      padding-right: 17px;

      @include respond(tablet) {

         flex-direction: column-reverse;
         padding-left: 0;
         padding-right: 0;

   
      }

      &-col1 {
         
         @include respond(tablet) {

            text-align: center;
         }

         &-h1 {
            font-size: 40px;
            margin-bottom: 22px;
            font-size: clamp(20px, 2.7778vw, 40px);

            @include respond(tablet) {
               margin-bottom: 15px; 
               font-size: clamp(20px, 5.26316vw, 30px);
            }

         }

         &-p {
            font-size: 16px;
            line-height: 24px;
            width: 100%;

            @include respond(tablet) {
               font-size: 14px;
               line-height: 149.68%;
            }
         }    
      }

      &-col2 {

         @include respond(tablet) {
            margin-bottom: 79px;
         }

         &-img {
            max-width: 533px;
            min-width: 266px;
            width: 37.0139vw;
            margin-left: 112px;
            margin-left: 7.7777vw;

            @include respond(tablet) {
               margin-left: 0;
            }
         }
      }
   }

   
}