.section2 {

   background-color: $pale_blue;
   padding-top: 70px;
   padding-bottom: 43px;

   @include respond(tablet) {
      padding-top: 82px;
      padding-bottom: 52px;
   }

   &_container {

      max-width: 1260px;
      margin-left: auto;
      margin-right: auto;
      padding-left: 28px;
      padding-right: 28px;

   }

   &_row {

      display: flex;
      justify-content: space-between;
      align-items: center;

      padding-left: 12px;
      padding-right: 31px;

      @include respond(tablet) {

         flex-direction: column-reverse;
         padding-left: 0;
         padding-right: 0;
         margin-bottom: 1px;

      }

      &-col1 {

         @include respond(tablet) {

            text-align: center;

         }

         &-h1 {

            font-size: 40px;
            font-size: clamp(20px, 2.7778vw, 40px);
            margin-bottom: 22px;

            @include respond(tablet) {
               margin-bottom: 16px;
               font-size: clamp(20px, 5.26316vw, 30px);

            }
         }

         &-p {
            font-size: 16px;
            line-height: 24px;
            width: 100%;

            @include respond(tablet) {
               font-size: 14px;
               line-height: 149.68%;
            }
         }
      }

      &-col2 {

         @include respond(tablet) {
            margin-bottom: 73px;

         }

         &-img {
            max-width: 519px;
            min-width: 258px;
            width: 36.0417vw;
            margin-left: 7.5vw;

            @include respond(tablet) {

               margin-left: 0;

            }
         }
      }
   }
}