.components {

   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   border-radius: 7px;
   overflow: hidden;

   @include respond(tablet) {
      margin: 2.5em;
      grid-template-columns: 1fr;
   }


}

.box {

   padding-top: 4.8rem;
   padding-right: 5.4rem;
   padding-bottom: 6.2rem;
   padding-left: 4.8rem;

   @include respond(tablet) {
      padding-right: 5rem;
      padding-bottom: 6.3rem;
   }

}

.icon {

   margin-bottom: 3.3rem;

   @include respond(tablet) {
      margin-bottom: 3.2rem;
   }
}

.typeofcars1 {

   background-color: $bright-orange;
}

.typeofcars2 {

   background-color: $dark-cyan;

}

.typeofcars3 {

   background-color: $very-dark-cyan;
}

.heading-1 {


   color: $very-light-gray;
   text-transform: uppercase;
   font-size: 4rem;
   margin-bottom: 2.7rem;

   @include respond(tablet) {
      margin-bottom: 2.6rem;
   }
}

.paragraph-1 {

   font-family: $font-ld;
   color: $transparent-white;
   font-size: 1.5rem;
   line-height: 1.65em;
   letter-spacing: -.1px;
   margin-bottom: 9.8rem;

   @include respond(tablet) {
      margin-bottom: 4rem;
   }
}

.btn {
   max-width: 14.6rem;
   font-family: $font-ld;
   font-size: 1.45rem;
   background-color: white;
   border-radius: 50px;
   padding: 1.5rem 3.4rem;
   margin-top: 8.3rem;
   transition: all .3s ease-in;

   &:hover {
      background-color: transparent;
      border: 2px solid white;
      cursor: pointer;
   }

}

.btn1 {
   color: $bright-orange;
   text-decoration: none;

   &:hover {

      color: white;
   }


}

.btn2 {
   color: $dark-cyan;
   text-decoration: none;

   &:hover {

      color: white;
   }

}

.btn3 {
   color: $very-dark-cyan;
   text-decoration: none;

   &:hover {

      color: white;
   }
}