/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop
$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop
ORDER: Base + typography > general layout + grid > page layout > components
1em = 16px
*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Karla", sans-serif;
}

.container {
  background-color: #e5eff5;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 290.667px 348px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 0px 8px 8px rgba(0, 0, 0, 0.05);
  width: 858.667px;
}

@media only screen and (max-width: 90em) {
  .grid {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 216.389px 257.611px;
    width: 635px;
  }
}

@media only screen and (max-width: 23.4em) {
  .grid {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 255.111px repeat(2, 217.926px);
    width: 297.333px;
  }
}

.header {
  background-color: white;
  grid-column: 1 / -1;
  padding: 5em;
  height: 290.667px;
}

@media only screen and (max-width: 90em) {
  .header {
    padding: 4rem;
    height: 216.389px;
  }
}

@media only screen and (max-width: 23.4em) {
  .header {
    height: 255.111px;
    padding: 2.5rem;
  }
}

.header__text {
  font-size: 2.15rem;
  line-height: 1.5;
  font-weight: 400;
  color: rgba(152, 166, 189, 0.7);
}

.header__text--span {
  display: block;
}

@media only screen and (max-width: 90em) {
  .header__text {
    font-size: 1.6rem;
  }
}

@media only screen and (max-width: 23.4em) {
  .header__text {
    font-size: 1.2rem;
    line-height: 2.1;
  }
}

.price {
  background-color: #2ab2af;
  padding: 5em;
}

@media only screen and (max-width: 90em) {
  .price {
    padding: 4rem;
  }
}

@media only screen and (max-width: 23.4em) {
  .price {
    padding: 2.5rem;
  }
}

.price__text {
  font-size: 2.1rem;
  font-weight: 400;
  color: rgba(229, 239, 245, 0.7);
}

@media only screen and (max-width: 90em) {
  .price__text {
    font-size: 1.75rem;
  }
}

@media only screen and (max-width: 23.4em) {
  .price__text {
    font-size: 1.4rem;
  }
}

.price__text--span {
  color: white;
  margin-right: .3em;
  font-size: 4rem;
  vertical-align: middle;
  font-weight: 800;
}

@media only screen and (max-width: 90em) {
  .price__text--span {
    font-size: 3rem;
  }
}

.heading-2, .heading-3, .heading-4 {
  font-family: "Karla", sans-serif;
  font-weight: 400;
}

.heading-2 {
  font-size: 3.2rem;
  line-height: 1;
  font-weight: 800;
  color: #2ab2af;
  margin-top: .5em;
}

@media only screen and (max-width: 90em) {
  .heading-2 {
    font-size: 2.5rem;
    margin-top: 0;
  }
}

@media only screen and (max-width: 23.4em) {
  .heading-2 {
    font-size: 1.8rem;
  }
}

.heading-3 {
  font-size: 2.4rem;
  font-weight: 800;
}

.heading-3--yellow {
  color: #bfdf32;
}

.heading-3--white {
  color: #e5eff5;
}

@media only screen and (max-width: 90em) {
  .heading-3 {
    font-size: 1.8rem;
  }
}

@media only screen and (max-width: 23.4em) {
  .heading-3 {
    font-size: 1.64rem;
  }
}

.heading-4 {
  font-size: 2.03rem;
}

.heading-4--white {
  color: #e5eff5;
}

@media only screen and (max-width: 90em) {
  .heading-4 {
    font-size: 1.45rem;
  }
}

.btn {
  background-color: #bfdf32;
  border: none;
  border-radius: 5px;
  font-family: "Karla", sans-serif;
  font-size: 2em;
  text-align: center;
  font-weight: 800;
  padding: 1.8rem 3rem;
  cursor: pointer;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
}

.btn--1 {
  text-decoration: none;
  color: #fff;
}

@media only screen and (max-width: 90em) {
  .btn {
    font-size: 1.5rem;
    padding: 1.2rem 3rem;
  }
}

@media only screen and (max-width: 23.4em) {
  .btn {
    font-size: 1.3rem;
  }
}

.mb-sm {
  margin-bottom: 1rem;
}

.mb-md {
  margin-bottom: 2rem;
}

@media only screen and (max-width: 90em) {
  .mb-md {
    margin-bottom: 1.5rem;
  }
}

.mb-lg {
  margin-bottom: 3rem;
}

@media only screen and (max-width: 90em) {
  .mb-lg {
    margin-bottom: 2rem;
  }
}

.mb-hg {
  margin-bottom: 4rem;
}

@media only screen and (max-width: 90em) {
  .mb-hg {
    margin-bottom: 2.5rem;
  }
}

.why {
  background-color: rgba(42, 178, 175, 0.8);
  padding: 5em;
}

@media only screen and (max-width: 90em) {
  .why {
    padding: 4em;
  }
}

@media only screen and (max-width: 23.4em) {
  .why {
    padding: 2.5em;
  }
}

.why__ul {
  color: #e5eff5;
  font-size: 2rem;
  line-height: 1.42;
}

@media only screen and (max-width: 90em) {
  .why__ul {
    font-size: 1.5rem;
    line-height: 1.34;
  }
}

@media only screen and (max-width: 23.4em) {
  .why__ul {
    font-size: 1.3rem;
    line-height: 1.5;
  }
}

.why__li {
  list-style: none;
}
