:root {
  --color-primary-100: hsl(35, 77%, 62%);
  --color-primary-200: hsl(5, 85%, 63%);
  --color-neutral-100: hsl(36, 100%, 99%);
  --color-neutral-200: hsl(233, 8%, 79%);
  --color-neutral-300: hsl(236, 13%, 42%);
  --color-neutral-400: hsl(240, 100%, 5%);
  --ff-primary: 'Inter', sans-serif;
}

.container {
  max-width: 1110px;
  margin-left: auto;
  margin-right: auto;
}

.primary-btn {
  padding: 14px 32px 13px 31px;
  background-color: var(--color-primary-200);
  letter-spacing: 0.31em;
  text-transform: uppercase;
  color: white;
  font-weight: 700;
  cursor: pointer;
  font-size: 14px;
}

.primary-btn:hover {
  background-color: var(--color-neutral-400);
  color: var(--color-neutral-100);
}

.primary-body {
  font-weight: 400;
  font-size: 15px;
  line-height: 160.52%;
  margin-top: 1px;
  margin-bottom: 36px;
}

@media only screen and (max-width: 50em) {
  .primary-body {
    line-height: 174.52%;
    margin-bottom: 23px;
  }
}

.side-body {
  font-weight: 400;
  font-size: 15px;
  line-height: 173.52%;
  color: var(--color-neutral-200);
}

.heading-1 {
  font-weight: 800;
  font-size: 56px;
  line-height: 100.02%;
  margin-top: 5px;
}

@media only screen and (max-width: 50em) {
  .heading-1 {
    font-size: 40px;
    margin-bottom: 14px;
  }
}

.side-heading-2 {
  font-weight: 700;
  font-size: 40px;
  color: var(--color-primary-100);
  margin-bottom: 18px;
  cursor: pointer;
}

@media only screen and (max-width: 50em) {
  .side-heading-2 {
    font-size: 32px;
    margin-bottom: 24px;
  }
}

.side-heading-3 {
  font-weight: 800;
  font-size: 20px;
  color: var(--color-neutral-100);
  margin-bottom: 6px;
}

@media only screen and (max-width: 50em) {
  .side-heading-3 {
    margin-bottom: 4px;
  }
}

.side-border-btm {
  border-bottom: 1px solid var(--color-neutral-200);
  margin-bottom: 27px;
  margin-top: 29px;
}

@media only screen and (max-width: 50em) {
  .side-border-btm {
    margin-bottom: 29px;
  }
}

.footer-heading-2 {
  font-weight: 700;
  font-size: 32px;
  line-height: 98%;
  color: var(--color-neutral-200);
  margin-bottom: 11px;
}

@media only screen and (max-width: 50em) {
  .footer-heading-2 {
    margin-top: 1px;
  }
}

.footer-heading-3 {
  font-weight: 800;
  font-size: 18px;
  margin-bottom: 6px;
  cursor: pointer;
}

.footer-heading-3:hover {
  color: var(--color-primary-200);
}

@media only screen and (max-width: 50em) {
  .footer-heading-3 {
    margin-bottom: 7px;
  }
}

.footer-body {
  font-weight: 400;
  font-size: 15px;
  line-height: 171.52%;
}

.footer-img {
  width: 100px;
  height: 127px;
}

@media only screen and (max-width: 50em) {
  .footer-img-retro {
    height: 129px;
  }
}

@media only screen and (max-width: 50em) {
  .footer-img-top10,
  .footer-img-gaming {
    margin-top: 1px;
  }
}

.flex {
  display: flex;
  gap: 24px;
  align-items: flex-start;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: var(--ff-primary);
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
  line-height: 0;
  height: auto;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

button {
  all: unset;
  cursor: pointer;
}

li {
  list-style: none;
  cursor: pointer;
}

a {
  text-decoration: none !important;
}

a:hover {
  color: var(--color-primary-200);
}

.header {
  padding-top: 89px;
  background-color: white;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 55px;
}

@media only screen and (max-width: 50em) {
  .header {
    padding-top: 28px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 32px;
  }
}

.header__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.header__logo {
  width: 64px;
  height: 40px;
}

@media only screen and (max-width: 50em) {
  .header__logo {
    width: 45px;
    height: 28px;
  }
}

.header .header__btn {
  display: none;
}

@media only screen and (max-width: 50em) {
  .header .header__btn:checked ~ .header__menu {
    display: flex;
  }
  .header .header__btn:checked ~ label #check__bars {
    display: none;
  }
  .header .header__btn:checked ~ label #check__cancel {
    display: block;
    position: fixed;
    right: 20px;
    top: 27px;
    z-index: 2;
  }
}

.header .header__btn--checked {
  display: none;
}

@media only screen and (max-width: 50em) {
  .header .header__btn--checked {
    display: block;
  }
}

@media only screen and (max-width: 50em) {
  .header .header__btn--checked-cancel {
    display: none;
  }
}

.header__menu {
  display: flex;
  gap: 38px;
}

@media only screen and (max-width: 50em) {
  .header__menu {
    display: none;
    position: fixed;
    top: -28px;
    right: -16px;
    flex-direction: column;
    width: 256px;
    height: 104vh;
    z-index: 1;
    background-color: white;
    font-size: 18px;
    padding-top: 143px;
    padding-left: 24px;
    gap: 21px;
  }
}

.main {
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 42px;
}

@media only screen and (max-width: 50em) {
  .main {
    padding-left: 16px;
    padding-right: 16px;
    margin-bottom: 64px;
  }
}

.main__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, auto);
  grid-template-areas: "  hero hero side " "  pr-h body side " "  f1 f2 f3 ";
  column-gap: 30px;
  row-gap: 30px;
}

@media only screen and (max-width: 50em) {
  .main__grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "  hero " "  hero " "  pr-h " "  body " "  side " "  side ";
    row-gap: 0px;
  }
}

.main__grid--item1 {
  grid-area: hero;
  background-image: url("../assets/images/image-web-3-desktop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
}

@media only screen and (max-width: 50em) {
  .main__grid--item1 {
    background-image: url("../assets/images/image-web-3-mobile.jpg");
    margin-bottom: 20px;
  }
}

.main__grid--item2 {
  grid-area: hero;
}

.main__grid--item3 {
  background-color: var(--color-neutral-400);
  grid-area: side;
  padding-top: 24px;
  padding-left: 24px;
  padding-right: 25px;
  padding-bottom: 24px;
}

@media only screen and (max-width: 50em) {
  .main__grid--item3 {
    padding-top: 17px;
    padding-left: 21px;
    padding-right: 21px;
    padding-bottom: 24px;
  }
}

.main__grid--item4 {
  grid-area: pr-h;
}

.main__grid--item5 {
  grid-area: body;
}

@media only screen and (max-width: 50em) {
  .main__grid--item5 {
    margin-bottom: 64px;
  }
}

.main__grid--item6 {
  grid-area: side;
}

.main__grid--item7 {
  grid-area: f1;
  background-color: gray;
}

.main__grid--item8 {
  grid-area: f2;
  background-color: gray;
}

.main__grid--item9 {
  grid-area: f3;
  background-color: gray;
}

.footer {
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 130px;
}

@media only screen and (max-width: 50em) {
  .footer {
    padding-bottom: 80px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

.footer__row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 31px;
}

@media only screen and (max-width: 50em) {
  .footer__row {
    grid-template-columns: 1fr;
    gap: 32px;
  }
}
