// Primary Color

$pink: hsl(322, 100%, 66%);
$light_pink: hsl(321, 100%, 78%);
$light_red: hsl(0, 100%, 63%);

// Neutral Color

$dark_cyan: hsl(192, 100%, 9%);
$pale_blue: hsl(207, 100%, 98%);

// Font 
// Heading
$font-poppins: 'Poppins', sans-serif;

// Body
$font-opensans: 'Open Sans', sans-serif;