.header {

   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-bottom: 5.3rem;

   @include respond(tablet) {
      margin-bottom: 8.5rem;
   }

   @include respond(large-phone) {
      margin-bottom: 6rem;
   }

   &_logo {

      &-img {
         width: 10.4rem;

         @include respond(tablet) {
            //width: 5rem;
            width: 18.56vw;
         }

         @include respond(large-phone) {
            width: 21.34vw;
         }
      }
   }

   &_ul {
      font-family: $Open_Sans;
      font-size: 1rem;
      display: flex;
      list-style: none;
      font-weight: 400;

      &-li {

         @include respond(large-phone) {
            font-size: .75rem;
            padding-bottom: .1rem;
         }

         @include respond(phone) {
            font-size: clamp(.55rem, 3.2vw, .75rem);
         }

        &:not(last-child){
           margin-left: 3.6rem;

           @include respond(large-phone) {
            margin-left: 1.6rem;
         }
        }
         
      }

      
   }
}

