.btn {
   color: var(--clr-neutral-100); 
   background: var(--gradient-primary);

   font-size: var(--fs-200);
   font-weight: var(--fw-bl);

   line-height: 1;
   padding: 1rem 2rem;
   border: 0;
   border-radius: 100vw;
   cursor: pointer;

   &:active {
      background: var(--clr-primary-500);
   }

 }



 .summary__title[data-item-type="primary-100"] {
   color: var(--clr-primary-100);
 }

 .summary__title[data-item-type="primary-200"] {
   color: var(--clr-primary-200);
 }

 .summary__title[data-item-type="primary-300"] {
   color: var(--clr-primary-300);
 }

 .summary__title[data-item-type="primary-400"] {
   color: var(--clr-primary-400);
 }


 

 .summary__item[data-item-type="secondary-100"] {
   background-color: var(--clr-secondary-100);
 }

 .summary__item[data-item-type="secondary-200"] {
   background-color: var(--clr-secondary-200);
 }

 .summary__item[data-item-type="secondary-300"] {
   background-color: var(--clr-secondary-300);
 }

 .summary__item[data-item-type="secondary-400"] {
   background-color: var(--clr-secondary-400);
 }
