.early {
   background-color: $Desaturated_Blue;


   &_box {
      height: 20.1rem;
      margin: 0 5rem;
      display: flex;

      justify-content: space-between;
      align-items: center;

      @include respond(tablet) {
         flex-direction: column;
         height: 26.875rem;
         justify-content: center;
         align-items: center;
      }

      @include respond(large-phone) {
         margin: 0 2.9rem;
         height: 21.55rem;

      }



      &-left {
         margin-top: 2rem;

         @include respond(tablet) {
            margin-top: 0rem;

         }

         &-h1 {

            // font-size:  clamp(1rem, 2.8vw, 2.5rem);
            font-size: clamp(1rem, 2.8vw, 2rem);
            font-weight: 700;
            line-height: 3.7rem;
            color: white;
            letter-spacing: .2px;
            margin-bottom: .6rem;

            @include respond(tablet) {
               text-align: center;
               font-size: clamp(1.5rem, 5vw, 2rem);
            }

            @include respond(large-phone) {
               font-size: 1.5rem;
               font-size: clamp(1.125rem, 5vw, 1.5rem);
               line-height: 2.2rem;
               width: 100%;
            }

            @include respond(phone) {
               font-size: 1.125rem;

               letter-spacing: -0.01em;
            }

         }

         &-p {

            font-family: $Open_Sans;
            font-weight: 400;
            font-size: 1rem;
            letter-spacing: .4px;
            width: 69%;
            line-height: 1.5rem;
            margin-bottom: 1.47rem;
            color: white;

            @include respond(tablet) {
               width: 100%;
               text-align: center;
            }

            @include respond(large-phone) {
               font-size: 0.85rem;
               line-height: 1.32rem;
               width: 92%;
               letter-spacing: 0px;
               margin: 0 auto;

            }

            @include respond(phone) {
               font-size: clamp(0.65rem, 3.63vw, 0.85rem);
            }



         }

      }



      &-right {

         display: flex;
         flex-direction: column;
         margin-right: 2.5rem;
         width: 59.9%;

         @include respond(tablet) {
            width: 100%;
            margin-right: 0rem;
         }

         @include respond(large-phone) {
            width: 85%;
         }

         &-form {
            width: 100%;
            margin-top: .9rem;
            display: flex;
            align-items: center;


            &-input {
               width: 100%;
               font-family: $Raleway;
               font-size: .78rem;
               padding: 1.03rem;
               font-weight: 400;
               border-radius: 2px;
               border: none;
               margin-bottom: .15rem;

               @include respond(large-phone) {
                  font-size: 0.625rem;
                  padding: .656rem;
                  margin-top: 1.5rem;
               }


               &:focus {

                  outline-offset: 0px;
                  outline: none;

               }

               &::placeholder {
                  color: rgba($Light_Gray, .5);
                  padding-left: .5rem;
                  transform: translateY(-2px);
                  /* CSS3 */
                  -webkit-transform: translateY(-2px); /* WebKit */
                  -moz-transform: translateY(-2px); /* Mozilla */
                  -o-transform: translateY(-2px); /* Opera */
                  -ms-transform: translateY(-2px); /* Internet Explorer */
                  transform: translateY(-2px); 
               }
            }
         }

         &-btn {
            font-family: $Raleway;
            width: 12.5rem;
            font-size: .83rem;
            font-weight: 700;
            padding: 1.01rem;
            background-color: $Bright_Blue;
            color: $Grayish_Blue;
            border: none;
            border-radius: 2px;
            letter-spacing: .5px;
            margin-top: .9rem;
            cursor: pointer;

            @include respond(tablet) {
               width: 100%;
               //width: 240px;
            }

            @include respond(large-phone) {
               margin-top: .38rem;
               font-size: 0.625rem;
               padding: .656rem;
            }

            &:hover {
               background-color: #5c8ff5;
            }
         }
      }
   }
}