@keyframes myAnim {
  0% {
    transform: scale(0);
    transform-origin: 0% 50%;
  }
  100% {
    transform: scale(1);
    transform-origin: 0% 50%;
  }
}

:root {
  --clr-white: hsl(0, 0%, 100%);
  --clr-grey: hsl(0, 0%, 50%);
  --clr-black: hsl(0, 0%, 7%);
  --clr-primary: hsl(47, 88%, 63%);
  --ff-primary: 'Figtree', sans-serif;
  --fw-sbold: 600;
  --fw-ebold: 800;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: var(--ff-primary);
  background-color: var(--clr-primary);
  display: flex;
  justify-content: center;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
  line-height: 0;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
.primary-heading {
  font-size: 24px;
  font-weight: var(--fw-ebold);
  margin-bottom: 20px;
  cursor: pointer;
}

.primary-heading:hover {
  color: var(--clr-primary);
}

@media only screen and (max-width: 425px) {
  .primary-heading {
    font-size: 20px;
    margin-bottom: 17px;
  }
}

.secondary-heading {
  font-size: 14px;
  font-weight: var(--fw-sbold);
  margin-bottom: 16px;
}

@media only screen and (max-width: 425px) {
  .secondary-heading {
    font-size: 12px;
  }
}

.main-heading {
  font-size: 16px;
  font-weight: var(--fw-sbold);
  color: var(--clr-grey);
  line-height: 1.4;
  width: 316px;
}

@media only screen and (max-width: 425px) {
  .main-heading {
    font-size: 14px;
    width: 100%;
  }
}

.footer-heading {
  padding-left: 12px;
  font-size: 14px;
  font-weight: var(--fw-ebold);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 425px) {
  .container {
    padding: 24px;
  }
}

.card {
  border: 1px solid var(--clr-black);
  background-color: var(--clr-white);
  padding: 23px;
  border-radius: 19px;
  box-shadow: 0px 0px 0px 0px black;
  transition: all .5s;
}

.card:hover {
  box-shadow: 10px 10px 0px 0px black;
}

.header__img {
  border-radius: 10px;
  margin-bottom: 23px;
  width: 100%;
}

.main {
  margin-bottom: 26px;
}

.main__btn {
  font-size: 14px;
  font-weight: var(--fw-ebold);
  color: var(--clr-black);
  padding: 7px 12px 6px 12px;
  background-color: var(--clr-primary);
  border: none;
  border-radius: 4px;
  margin-bottom: 14px;
  cursor: pointer;
  transition: all .25s ease-in;
}

.main__btn:hover {
  background-color: var(--clr-black);
  color: var(--clr-primary);
}

@media only screen and (max-width: 425px) {
  .main__btn {
    font-size: 12px;
    padding: 6px 12px;
  }
}

@media only screen and (max-width: 425px) {
  .main {
    margin-bottom: 20px;
  }
}

.footer {
  display: flex;
  align-items: center;
}

.footer__img {
  width: 2rem;
  height: 2rem;
  border-radius: 100%;
}
