// PRIMARY COLOR

$dark_cyan: hsl(158, 36%, 37%);
$cream: hsl(30, 38%, 92%);

// NUETRAL

$dark_blue: hsl(212, 21%, 14%);
$grayish_blue: hsl(228, 12%, 48%);
$white: hsl(0, 0%, 100%);

// FONT SIZE

///paragraph
$font_prg: 0.875rem;

// FONTS
$font_frs: 'Fraunces', serif;
$font_mnt: 'Montserrat', sans-serif;