// Primary Color

$pink: hsl(322, 100%, 66%);
$light_pink: hsl(321, 100%, 78%);
$light_red: hsl(0, 100%, 63%);

// Neutral Color

$pale_cyan: hsl(193, 100%, 96%);
$dark_cyan: hsl(192, 100%, 9%);
$grayish_blue: hsl(208, 11%, 55%);
// Font 
// Heading
$font-poppins: 'Poppins', sans-serif ; 

// Body
$font-opensans: 'Open Sans', sans-serif;