.bg-primary-400 {
   background: $clr-primary-400;
 }

 .bg-secondary-400 {
   background: $clr-secondary-400;
 }

 .bg-secondary-500 {
   background: $clr-secondary-500;
 }
 
 .bg-neutral-100 {
   background: $clr-neutral-100;
 }
 
 .text-neutral-100 {
   color: $clr-neutral-100;
 }

 .text-secondary-400 {
   color: $clr-secondary-400;
 }

 .border-primary-400 {
   outline: 2px solid $clr-primary-400;
   
 }

 .border-primary-450 {
    outline: 2px solid $clr-primary-450;

 }

 .name {
   font-size: $fs-400;
   font-weight: $fw-400;
   line-height: 1.2;

 }

 .position {
   font-size: $fs-300;
   opacity: 50%;
   line-height: 1.4;
 }

 .mg-right {
   margin-right: 1rem;
 }
 
 .mg-bottom-big {
  margin-bottom: 24px;
 }

 .mg-bottom-sm {
  margin-bottom: 16px;
 }

 .container {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 30px;

  display: grid;
  gap: 24px 30px;
  grid-template-columns: repeat(4, 1fr);

  @include respond(tablet) {
    display: flex;
    flex-direction: column;
    padding: 71px 24px;
  }


}

.flex {
  display: flex;
  flex-direction: row; 
  margin-bottom: 16px;
}

.box-shadow {

  -webkit-box-shadow: 40px 60px 50px -47px rgba(72,85,106,0.25);
-moz-box-shadow: 40px 60px 50px -47px rgba(72,85,106,0.25);
box-shadow: 40px 60px 50px -47px rgba(72,85,106,0.25);
}


 .padding-up {
  padding-top: 26px;
  padding-right: 32px;
  padding-left: 32px;
  padding-bottom: 31px;


 }

 .padding-down {
  padding-top: 26px;
  padding-right: 32px;
  padding-left: 32px;
  padding-bottom: 26px;
 }

 .radius-overflow {
  border-radius: 8px;
  overflow: hidden;
 }


