:root {

   --clr-linear-gradient-active-input-border:   linear-gradient(90deg, hsl(249, 99%, 64%), hsl(278, 94%, 30%)) 1;

   --clr-input-error: hsl(0, 100%, 66%);

   --clr-neutral-100: hsl(0, 0%, 100%);
   --clr-neutral-200: hsl(270, 3%, 87%);
   --clr-neutral-300: hsl(279, 6%, 55%);
   --clr-neutral-400: hsl(278, 68%, 11%);

   --ff-primary: 'Space Grotesk', sans-serif;

   --fw-m: 500;

   --ff-100: 0.625rem; //10px
   --ff-200: 0.75rem; //12px
   --ff-300: 0.875rem; //14px
   --ff-400: 1.125rem; //18px
   --ff-500: 1.75rem; //28px;

   --spacing-100: 8%;
   --spacing-200: 12%;
   --spacing-300: 14%;
   --spacing-400: 16.5%;

}