:root {

   --clr-text-100: hsl(238, 29%, 16%);
   --clr-text-200: hsl(14, 88%, 65%);

   --clr-primary-body: #5B5A60;


   --clr-bg-100: hsl(273, 75%, 66%);
   --clr-bg-200: hsl(240, 73%, 65%);

   --clr-div-100: hsl(240, 73%, 65%);

   --ff-primary: 'Kumbh Sans', sans-serif;

   --fw-reg: 400;
   --fw-bold: 700;

}

