.footer {
   padding-left: 30px;
   padding-right: 30px;
   padding-bottom: 130px;


   @include respond(tablet) {
      padding-bottom: 80px;
      padding-left: 16px;
      padding-right: 16px;
      
   }


   &__row {

      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 31px;

      @include respond(tablet) {
         grid-template-columns: 1fr; 
         gap: 32px;  
      }
   }
}