.container {
   display: flex;
   flex-direction: column;
   align-items: center;

}

.background {
   display: inline-block;
   width: 100%;
   height: 20rem;
   background-image: url(../assets/images/background-pattern-desktop.svg);
   background-size: cover;

   @include respond(tablet) {
      background-image: url(../assets/images/background-pattern-mobile.svg);
   }
}

.card {
   border-radius: 1rem;
   width: 37.5rem;
   padding: 43px 43px 42px 40px;
   background-color: var(--clr-neutral-100);
   margin-top: -10.4375rem;


   @include respond(tablet) {
      width: 92.59%;
      padding: 26px 27px 24px 24px;
      margin-top: -8.875rem;
   }

}

.faq {
   display: flex;
   margin-bottom: 39px;

   &__star {
      padding-right: 27px;

   }

   @include respond(phone) {
      margin-bottom: 26px;
   }
}

.accordion {

   border-bottom: 2px solid var(--clr-neutral-200);
   margin-bottom: 31px;

   &__question {
      display: flex;
      align-items: center;
      justify-content: space-between;

      margin-bottom: 30px;

      &:hover {
         cursor: pointer;
      }
   }


   &__answer {
      margin-bottom: 0;
      transition: opacity .5s ease-in;
      opacity: 0;
      height: 0;
      overflow: hidden;

   }

   &.active {

      border-bottom: 2px solid var(--clr-primary);
   }

   &.active &__answer {
      opacity: 1;
      height: auto;
      margin-bottom: 25px;
   }

   &.active .minus {
      display: block;
   }

   &.active .plus {
      display: none;
   }
}

.plus {
   display: block;
}

.minus {
   display: none;

}