:root {

   --clr-neutral-100: hsl(0, 0%, 100%);
   --clr-neutral-200: hsl(270, 3%, 87%);
   --clr-neutral-300: hsl(279, 6%, 55%);
   --clr-neutral-400: hsl(278, 68%, 11%);

   --clr-bg: hsl(279, 100%, 97%);

   --clr-primary: hsl(280, 80%, 54%);

   --ff-primary: 'Work Sans',
   sans-serif;

   --fw-reg: 400;
   --fw-sbold: 600;
   --fw-bold: 700;

}
