.icon {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 31px;
   width: 31px;
   border-radius: 100vmax;
   border: 1px solid var(--color-secondary-100);
   font-size: 14px;
   color: var(--color-primary-100);
   cursor: pointer;

   @include respond(tablet) {
      height: 60px;
      width: 60px;
      font-size: 32px;
   }
   
}

.footer-span {
   font-weight: 400;
   font-size: 12px;
   color: var(--color-neutral-100);

   @include respond(tablet) {
      font-size: 20px;
   }
}