:root {
  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-neutral-200: hsl(270, 3%, 87%);
  --clr-neutral-300: hsl(279, 6%, 55%);
  --clr-neutral-400: hsl(278, 68%, 11%);
  --clr-bg: hsl(279, 100%, 97%);
  --clr-primary: hsl(280, 80%, 54%);
  --ff-primary: 'Work Sans',
   sans-serif;
  --fw-reg: 400;
  --fw-sbold: 600;
  --fw-bold: 700;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: var(--ff-primary);
  background-color: var(--clr-bg);
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
  line-height: 0;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@font-face {
  font-family: "Work Sans";
  src: url(../assets/fonts/WorkSans-VariableFont_wght.ttf);
}

.heading__1 {
  font-size: 3.25rem;
  font-style: normal;
  font-weight: var(--fw-bold);
  letter-spacing: 0.1625rem;
  color: var(--clr-neutral-400);
}

@media only screen and (max-width: 425px) {
  .heading__1 {
    font-size: 1.875rem;
    letter-spacing: 0.09375rem;
  }
}

.heading__2 {
  font-family: Work Sans;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: var(--fw-sbold);
  line-height: normal;
  color: var(--clr-neutral-400);
}

.heading__2:hover {
  cursor: pointer;
  color: var(--clr-primary);
}

@media only screen and (max-width: 648px) {
  .heading__2 {
    padding-right: 1rem;
  }
}

@media only screen and (max-width: 425px) {
  .heading__2 {
    font-size: 1rem;
  }
}

.paragraph__1 {
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: var(--fw-reg);
  letter-spacing: 0.03138rem;
  color: var(--clr-neutral-300);
}

@media only screen and (max-width: 425px) {
  .paragraph__1 {
    font-size: 0.875rem;
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.background {
  display: inline-block;
  width: 100%;
  height: 20rem;
  background-image: url(../assets/images/background-pattern-desktop.svg);
  background-size: cover;
}

@media only screen and (max-width: 648px) {
  .background {
    background-image: url(../assets/images/background-pattern-mobile.svg);
  }
}

.card {
  border-radius: 1rem;
  width: 37.5rem;
  padding: 43px 43px 42px 40px;
  background-color: var(--clr-neutral-100);
  margin-top: -10.4375rem;
}

@media only screen and (max-width: 648px) {
  .card {
    width: 92.59%;
    padding: 26px 27px 24px 24px;
    margin-top: -8.875rem;
  }
}

.faq {
  display: flex;
  margin-bottom: 39px;
}

.faq__star {
  padding-right: 27px;
}

@media only screen and (max-width: 425px) {
  .faq {
    margin-bottom: 26px;
  }
}

.accordion {
  border-bottom: 2px solid var(--clr-neutral-200);
  margin-bottom: 31px;
}

.accordion__question {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.accordion__question:hover {
  cursor: pointer;
}

.accordion__answer {
  margin-bottom: 0;
  transition: opacity .5s ease-in;
  opacity: 0;
  height: 0;
  overflow: hidden;
}

.accordion.active {
  border-bottom: 2px solid var(--clr-primary);
}

.accordion.active .accordion__answer {
  opacity: 1;
  height: auto;
  margin-bottom: 25px;
}

.accordion.active .minus {
  display: block;
}

.accordion.active .plus {
  display: none;
}

.plus {
  display: block;
}

.minus {
  display: none;
}
