:root {

   --clr-primary-100: #ce9797;
   --clr-primary-200: hsl(0, 93%, 68%);
   --clr-neutral-100: hsl(0, 6%, 24%);

   --clr-bg-100: hsl(0, 0%, 100%);
   --clr-bg-200: hsl(0, 100%, 98%);
   --clr-bg-300: hsl(0, 80%, 86%);
   --clr-bg-400: #ee8c8c;

   --ff-primary: 'Josefin Sans', sans-serif;

   --fw-300: 300;
   --fw-400: 400;
   --fw-600: 600;

}