:root {
   --clr-white: hsl(0, 0%, 100%);
   --clr-grey: hsl(0, 0%, 50%);
   --clr-black: hsl(0, 0%, 7%);

   --clr-primary: hsl(47, 88%, 63%);

   --ff-primary: 'Figtree', sans-serif;

   --fw-sbold: 600;
   --fw-ebold: 800;
}