*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

@media only screen and (max-width: 20em) {
  html {
    font-size: 40%;
  }
}

@media only screen and (max-width: 23.4375em) {
  html {
    font-size: 40%;
  }
}

@media only screen and (max-width: 26.5625em) {
  html {
    font-size: 50%;
  }
}

@media only screen and (max-width: 37.5em) {
  html {
    font-size: 50%;
  }
}

@media only screen and (max-width: 75em) {
  html {
    font-size: 60%;
  }
}

@media only screen and (max-width: 56.25em) {
  html {
    font-size: 61%;
  }
}

@media only screen and (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

body {
  font-family: "Open Sans", sans-serif;
}

.content {
  flex: 1;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-form__h2 {
  color: #083643;
  font-size: 5em;
  font-weight: 800;
  line-height: 1.14;
}

@media screen and (max-width: 90rem) {
  .content-form__h2 {
    font-size: 6em;
  }
}

@media only screen and (max-width: 75em) {
  .content-form__h2 {
    font-size: 6.4em;
  }
}

@media only screen and (max-width: 56.25em) {
  .content-form__h2 {
    font-size: 5.1em;
  }
}

@media screen and (max-width: 48em) {
  .content-form__h2 {
    width: 70%;
    line-height: 1.1;
    font-size: 4em;
  }
}

@media only screen and (max-width: 37.5em) {
  .content-form__h2 {
    width: 41%;
    margin-right: 15rem;
    font-size: 4.6em;
  }
}

@media only screen and (max-width: 26.5625em) {
  .content-form__h2 {
    margin-right: 10rem;
    font-size: 4em;
  }
}

@media only screen and (max-width: 23.4375em) {
  .content-form__h2 {
    margin-right: 7rem;
  }
}

@media only screen and (max-width: 20em) {
  .content-form__h2 {
    font-size: 3.5em;
    margin-left: -1rem;
  }
}

.content-form__h2--span {
  display: block;
}

.content-form__ul {
  margin-left: 6rem;
  width: 60%;
}

@media screen and (max-width: 48em) {
  .content-form__ul {
    margin-left: 0;
  }
}

.content-form__li {
  font-size: 2.1em;
  font-weight: 400;
}

@media screen and (max-width: 48em) {
  .content-form__li {
    font-size: 1.8em;
  }
}

@media only screen and (max-width: 37.5em) {
  .content-form__li {
    font-size: 1.5em;
  }
}

.content-form__name, .content-form__email {
  width: 50%;
  border: 3px solid #083643;
  padding: 1.5rem;
  border-radius: 15px;
  font-size: 2em;
  font-weight: 400;
}

@media only screen and (max-width: 56.25em) {
  .content-form__name, .content-form__email {
    padding: 1.7rem;
  }
}

@media screen and (max-width: 48em) {
  .content-form__name, .content-form__email {
    padding: 1.2rem;
    font-size: 1.5em;
    border: 2px solid #083643;
    border-radius: 10px;
  }
}

@media only screen and (max-width: 37.5em) {
  .content-form__name, .content-form__email {
    margin-right: 5.5rem;
    width: 60%;
  }
}

@media only screen and (max-width: 26.5625em) {
  .content-form__name, .content-form__email {
    padding: 1.4rem;
    font-size: 1.1em;
    border: 1.5px solid #083643;
    border-radius: 10px;
    width: 65%;
    margin-right: 2.5rem;
  }
}

@media only screen and (max-width: 23.4375em) {
  .content-form__name, .content-form__email {
    padding: 1.5rem;
    margin-right: 1rem;
  }
}

@media only screen and (max-width: 20em) {
  .content-form__name, .content-form__email {
    padding: 1rem;
    width: 70%;
  }
}

@media only screen and (max-width: 37.5em) {
  .content-form__btn {
    margin-right: 5.5rem;
  }
}

@media only screen and (max-width: 26.5625em) {
  .content-form__btn {
    margin-right: 2.5rem;
  }
}

@media only screen and (max-width: 23.4375em) {
  .content-form__btn {
    margin-right: 1rem;
  }
}

.content-form__p {
  font-size: 1.5em;
  text-align: center;
}

@media screen and (max-width: 48em) {
  .content-form__p {
    font-size: 1.4em;
  }
}

@media only screen and (max-width: 26.5625em) {
  .content-form__p {
    font-size: 1.3em;
  }
}

@media only screen and (max-width: 23.4375em) {
  .content-form__p {
    font-size: 1.1em;
  }
}

.content-form__p1 {
  font-size: 1em;
  text-align: center;
}

@media only screen and (max-width: 23.4375em) {
  .content-form__p1 {
    font-size: .9em;
  }
}

.container {
  display: flex;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
}

.side-background {
  background-color: #083643;
  width: 45rem;
}

@media only screen and (max-width: 56.25em) {
  .side-background {
    width: 25rem;
  }
}

@media only screen and (max-width: 75em) {
  .side-background {
    width: 25rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .side-background {
    width: 15rem;
  }
}

@media only screen and (max-width: 26.5625em) {
  .side-background {
    width: 12rem;
  }
}

@media only screen and (max-width: 20em) {
  .side-background {
    width: 10rem;
  }
}

.side-background__logo {
  position: absolute;
  width: 20rem;
  right: 3rem;
  top: 3rem;
}

@media only screen and (max-width: 56.25em) {
  .side-background__logo {
    width: 15rem;
  }
}

@media only screen and (max-width: 75em) {
  .side-background__logo {
    width: 15rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .side-background__logo {
    width: 10rem;
    right: 2rem;
    top: 2rem;
  }
}

@media only screen and (max-width: 26.5625em) {
  .side-background__logo {
    width: 9rem;
    right: 1rem;
    top: 1rem;
  }
}

@media only screen and (max-width: 20em) {
  .side-background__logo {
    width: 8rem;
  }
}

.andy {
  position: absolute;
  width: 60rem;
  top: 15rem;
  right: 8rem;
}

@media only screen and (max-width: 75em) {
  .andy {
    width: 55rem;
    right: -7rem;
  }
}

@media only screen and (max-width: 56.25em) {
  .andy {
    right: -16rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .andy {
    width: 35rem;
    right: -10rem;
  }
}

@media only screen and (max-width: 26.5625em) {
  .andy {
    width: 27rem;
    right: -9rem;
    top: 20rem;
  }
}

@media only screen and (max-width: 23.4375em) {
  .andy {
    width: 27rem;
    top: 20rem;
    right: -10rem;
  }
}

@media only screen and (max-width: 20em) {
  .andy {
    width: 24rem;
    top: 27.5rem;
    right: -9rem;
  }
}

.left-rec {
  position: absolute;
  width: 85px;
  height: 34px;
  background-color: #083643;
  top: 109px;
}

@media screen and (max-width: 90rem) {
  .left-rec {
    top: 85px;
  }
}

@media only screen and (max-width: 75em) {
  .left-rec {
    width: 56.7px;
    height: 22.67px;
    top: 70px;
  }
}

@media only screen and (max-width: 56.25em) {
  .left-rec {
    width: 56.7px;
    height: 22.67px;
    top: 72px;
  }
}

@media only screen and (max-width: 37.5em) {
  .left-rec {
    top: 40px;
    width: 44px;
  }
}

@media only screen and (max-width: 26.5625em) {
  .left-rec {
    top: 35px;
    height: 15.11px;
    width: 29.33px;
  }
}

@media only screen and (max-width: 20em) {
  .left-rec {
    top: 31px;
    height: 15.11px;
    width: 15px;
  }
}

.bottom-rec {
  width: 31px;
  height: 57px;
  background-color: #083643;
  position: absolute;
  bottom: 0;
  left: 85px;
}

@media only screen and (max-width: 75em) {
  .bottom-rec {
    left: 57px;
    width: 20.67px;
    height: 38px;
  }
}

@media only screen and (max-width: 56.25em) {
  .bottom-rec {
    left: 57px;
    width: 20.67px;
    height: 38px;
  }
}

@media only screen and (max-width: 37.5em) {
  .bottom-rec {
    left: 44px;
  }
}

@media only screen and (max-width: 26.5625em) {
  .bottom-rec {
    height: 25.33px;
    width: 13.78px;
    left: 29px;
  }
}

@media only screen and (max-width: 20em) {
  .bottom-rec {
    left: 15px;
  }
}

.heading-2, .heading-3, .heading-4 {
  font-family: "Open Sans", sans-serif;
}

.btn-2 {
  width: 100%;
  background-color: #083643;
  color: white;
  padding: 1.5rem 13.3rem;
  border-radius: 15px;
  font-size: 2em;
  font-weight: 600;
  border: none;
}

@media only screen and (max-width: 75em) {
  .btn-2 {
    padding: 1.5rem 13rem;
  }
}

@media only screen and (max-width: 56.25em) {
  .btn-2 {
    padding: 1.5rem 10.5rem;
  }
}

@media screen and (max-width: 48em) {
  .btn-2 {
    padding: 1.5rem 8.5rem;
    font-size: 1.5em;
    border-radius: 10px;
  }
}

@media only screen and (max-width: 37.5em) {
  .btn-2 {
    padding: 1.5rem 9.2rem;
  }
}

@media only screen and (max-width: 26.5625em) {
  .btn-2 {
    padding: 1.5rem 7rem;
    font-size: 1.1em;
    border-radius: 10px;
  }
}

@media only screen and (max-width: 23.4375em) {
  .btn-2 {
    padding: 1.5rem 5.4rem;
  }
}

@media only screen and (max-width: 20em) {
  .btn-2 {
    padding: 1rem;
  }
}

.mb-sm {
  margin-bottom: 1rem;
}

.mb-md {
  margin-bottom: 1.5rem;
}

.mb-lg {
  margin-bottom: 2.5rem;
}

.mb-hg {
  margin-bottom: 3.5rem;
}
