.sidebar-contentright {
   margin: 0 3em;

   @include respond(tab-port){
      top: 0;
      padding: 1em 0;
      max-width: 450px;
   }
   
   &__h2 {

      font-size: 1.5em; 
      line-height: 1.29;
      text-align: center;
      font-weight: 700;
      margin-bottom: .5em;
   }

   &__btn {
      margin: 0 auto;
      border-radius: 50px;
      background-color: $light-color;
      border: none;
      text-align: center;
      cursor: pointer; 
      
      &:hover {
         background-color: $dark-color;
         box-shadow: $shadow-box;
         transition: 0.3s;
      }
     

      &-1 {
         
         padding: 1.1em 6em;
         color: white;
         text-decoration: none;
         font-size: .8em;
         font-weight: 700;

   }
}

   &__p {
      margin-top: 1em;
      font-size: .75em;
      text-align: center;

      &-span {
         border-bottom: 2px solid white;
         cursor: pointer; 
         transition: all .1s;

         &:hover {
            color: $light-color;
            border-bottom: 2px solid $dark-color;
            transition: 0.3s;
         }
      }     
   }

   &__form {
      display: flex;
      flex-direction: column;

      &__label {
        
         visibility: hidden;

         @include respond(tab-land){
            visibility: visible;
            font-size: .6em;
            margin: .6em 0;
         }
      }

      &__box {
         padding: 1.3em 2em;
         border: none;
         border-radius: 50px;

            &:last-of-type{
               margin-bottom: 2em;
               
            }
         
         &:active,
         &:focus {
         outline: none;
         transform: translateY(-1px);
         box-shadow: $shadow-box;
      }
  
         &::placeholder{
            font-family: 'Poppins';
            font-size: 1em;
            font-weight: 400;
            color: rgba(black, .2);

            @include respond(tab-land){
               visibility: hidden;
            }
         }
      }
   }
}